exportClasses(ChinookSimpleSummaryStats)

exportMethods (
   registerHandlers
   )

export(
   ChinookSimpleSummaryStats
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

