/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #59a5fb;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$brand-primary:         darken(#59a5fb, 6.5%) !default; // #337ab7
$font-family-sans-serif: "proxima-nova-n3","proxima-nova",sans-serif;
$font-family-serif: "proxima-nova-n3","proxima-nova",sans-serif;
$headings-font-weight:    300 !default;
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.navbar-inverse{
	background-color: #000 !important;
	border:none !important;
}
.sro{	// Screen Readers Only
	display:none !important;
}

body{
	padding-top:70px;
}
//TODO: Move Into Range Slider
h2{
	margin-bottom:20px;
}
.nav-divider{
    background-image: url(/assets/images/texture.png);
    background-size:cover;
    box-shadow: 3px 3px 10px #888888;
    margin-bottom:10px;
    height:4px;
    width: 100%;
}

.ngrs-range-slider{
	margin-top:0px !important;
}
.ngrs-range-slider-no-pad{
	margin-bottom:0px;
	padding-bottom:0px;
}
.bs-dropdown{
	width: 100%;
	button{
		width: 100%;
		text-align: left;
		height: 28px;
		line-height: 14px;
		.caret{
			float:right;
			margin-top:5px;
		}
	}
	ul{
		li{
			padding:5px;
		}
	}
}
.container-main{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
	overflow:scroll;
	margin-top:75px;
	margin-bottom:0px;
	
}
.container-filters{
	max-height:200px !important;
}
.container-filters-collapsed{
	max-height:55px !important;
	overflow:hidden;
}
.container-filter-toggle{
	height:15px;
	text-align:center;
	border:0px solid #DDD;
	border-bottom-width:1px;
	outline: none !important;
	
	img{
		position:relative;
		top:3px;
		outline: none !important;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		transform: rotateX(0deg);

	}
}
.container-filter-toggle-collapsed{
	img{
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		transform: rotateX(180deg);
	}
}
.container-legand{
	background:rgba(255,255,255,.8);
	color:#000; 
	position:absolute; 
	left:0px; 
	top:200px; 
	z-index:0; 
	padding-left:50px;
}
.container-content{
	
	width:100%;
	height:80vh;

}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
