// Namespace
.filters{
	display:none;
	position:absolute;
	top:73px;
	z-index:2000;
	width:100%;
	.filters-tree{
		background-color:rgba(0,0,0,.9);
		min-height:50vh;
		
		padding:0px 100px;
	}
	.close{

	}
}

.node circle {
  fill: #fff;
  
}

.node text { font: 12px sans-serif; }

.link {
	fill: none;
	stroke: #59a5fb;
	stroke-width: 2px;

}
