// Namespace
.filters{
	background-color:rgba(0,0,0,.9);
	min-height:250px;
	position:absolute;
	top:74px;
	width:100%;
	padding:0px 100px;
	z-index:2000;
	
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
