// Namespace
.filters{
	display:none;
	position:absolute;
	top:73px;
	z-index:2000;
	width:100%;
	.filters-tree{
		background-color:rgba(0,0,0,.9);
		min-height:90vh;	
		padding:0px 100px;
	}
	.close{

	}
}

.filter-node-circle{
	fill:#FFF;
	stroke-width: 3px;
	stroke-opacity: 1;
	stroke: rgb(89, 165, 251);
	cursor: pointer;
}
.filter-node-circle:hover{
	 stroke: #FFF;
	 //stroke-width: 10px;
	 //stroke-opacity: .5;
	fill: rgb(89, 165, 251);
}

.node text { font: 12px sans-serif; }

.filter-link {
	fill: none;
	stroke: #59a5fb;
	stroke-width: 2px;

}
