<section id="filter-dropdown" class="filters container"></div>
	
	<div class="filters-tree" id="filters-chart">
		<div class="row">
			<div class="col-sm-8">
				<h2 style="color:#FFF;">My Cohorts</h2>
				<p style="color:#FFF;">Oncoscape allows you to create cohorts in each tool... Lorum Ipsum...</p>
			</div>
			<div class="col-sm-4" style="text-align: right;margin-top:30px;">
				<div class="btn-group" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('RadialTree')">
				  	<span class="glyphicon glyphicon-option-vertical"></span>RT
				  </button>
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('RadialCluster')">
				  	<span class="glyphicon glyphicon-option-vertical"></span>RC
				  </button>
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('Tree')">
				  	<span class="glyphicon glyphicon-option-vertical"></span>R
				  </button>
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('Cluster')">
				  	<span class="glyphicon glyphicon-option-vertical"></span>C
				  </button>
				</div>
			</div>
		</div>
	</div>

<!-- 	<button class="btn btn-primary"
		ng-click="vm.close()"
		style="position:absolute; bottom:0px; left:50%; border-radius:0px;">Close Cohort Panel</button> -->
<!-- 
	<div class="nav-divider" style="min-height:3px;"></div>
 -->
</section>