<section id="filter-dropdown" class="filters container"></div>
	
	<div class="filters-tree" id="filters-chart">
		<div class="row">
			<div class="col-sm-8">
				<h2 style="color:#FFF;">My Cohorts</h2>
				</p>
			</div>
			<div class="col-sm-4" style="text-align: right;margin-top:30px;">
				<div class="btn-group" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('Cluster')">
				  	A
				  </button>
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('Tree')">
				  	B
				  </button>
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('RadialTree')">
				  	C
				  </button>
				  <button type="button" class="btn btn-primary"
				  	ng-click="vm.setDisplay('RadialCluster')">
				  	D
				  </button>
				  
				</div>
			</div>
		</div>
	</div>

</section>