<div class="wrapper">
  <header-tag *ngIf="getProp(UIHEADER)">
    <div brand-tag>
      <div class="logo">
        <span class="logo-mini"><img src="assets/img/logo-thumb.png"></span>
        <span class="logo-lg"><img src="assets/img/logo.png"></span>
      </div>
    </div>
    <div navright-tag>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a class="logout" (click)="signOut($event)">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </header-tag>
  <div class="nav-divider"></div>
  <side-bar *ngIf="getProp(UISIDEBAR)" [model]="sideBarModel">
    <div panel-tag>
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/img/swat.png" class="img-circle" [alt]="user">
        </div>
        <div class="pull-left info">
          <p>{{user}}</p>
          <!-- Status -->
          <a><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    </div>
  </side-bar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" [size]>
    <!-- Content Header (Page header) -->
    <crumb-tag></crumb-tag>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>
  <footer-tag *ngIf="getProp(UIFOOTER)"></footer-tag>
</div>
