<div class="modal fade" id="{{idSelector}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button *ngIf="hasClose" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body" [innerHtml]="body"></div>
      <div class="modal-footer" *ngIf="hasFooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button *ngIf="hasAction" (click)="onAction($event)" type="button" class="{{'btn '+actionClass}}">{{actionLabel}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->