exportClasses(ChinookServer)

export(
  ChinookServer
  )

exportMethods(
  run,
  serverVersion,
  close,
  port,
  getDatasetNames,
  setActiveDataSet,
  getActiveDataSet,
  getAnalysisPackageNames,
  addMessageHandler,
  getMessageNames    
  #getUserID,
  #getUserGroups,
  #getURI,
  #getUserDirectory,
  #addData
  #getDataItem,
  #deleteDataItem,
  #getSummary
  )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(BiocGenerics)
import(httpuv)
import(jsonlite)
