<os-tray content="tray-content-block" change="vm.resize($event)">
    <section class="tray-content">
        <div class="row">
            <div class="col-xs-12 form-item">
                <br />
                <label></label>
            </div>
            <div class="col-xs-12 form-item">
                <label>Data Type</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button   style="width:260px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.dataType}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:260px;">
                            <li class="markers-command hvr-sweep-to-right" ng-repeat="item in vm.dataTypes" ng-click="vm.dataType=item">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 form-item ">
                <label>Selected Gene</label>
                <div class="input-group">
                    <input style="background:#FFF;" class="form-control" aria-label="Text input with segmented button dropdown" ng-model="vm.gene" onfocus="this.select();">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default"  ng-click="vm.updateGene()"><span class="fa fa-refresh" aria-hidden="true"></span></button>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 form-item ">
                <label>Basepair Window</label><br/>
                <label>Upstream</label>
                <div class="input-group">
                    <input style="background:#FFF;" class="form-control" aria-label="Text input with segmented button dropdown" ng-model="vm.range.up" onfocus="this.select();">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default"  ng-click="vm.updateGene()"><span class="fa fa-refresh" aria-hidden="true"></span></button>
                        
                    </div>
                </div>
                <label>Downstream</label>
                <div class="input-group">
                    <input style="background:#FFF;" class="form-control" aria-label="Text input with segmented button dropdown" ng-model="vm.range.down" onfocus="this.select();">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default"  ng-click="vm.updateGene()"><span class="fa fa-refresh" aria-hidden="true"></span></button>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</os-tray>

<section class="tray-content-block">
    <div class="tool-container">
        <h2 class="h2-tool">Gene Dashboard</h2>
        <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}}</span>
        <div id="genedashboard-chart" class="genedashboard"></div>
    </div>
</section>
<os-color-panel ng-if="vm.showPanelColor" close="vm.showPanelColor=false"></os-color-panel>