// Namespace

.axis path,
.axis line {
    fill: none;
    stroke: #BBB;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #000;
}


.coord-label {
    position: absolute;
    top: 72px;
    left: 135px;
    text-align: center;
    line-height: 1.2;
    width: 133px;
    color: #039BE5;
    font-size: 11px;
    span {
        font-size: 18px;
        font-weight: 500;
    }
}

.genedashboard {
    .extent {
        fill: #039BE5;
        fill-opacity: .2;
    }
    .coord-node {
        stroke: #FFF;
        stroke-width: 1;
        fill: #039BE5;
    }
    .coord-node-selected {
        stroke: #000;
        stroke-width: 1.5;
    }
    .coord-tooltip {
        pointer-events: none;
        background-color: rgba(255, 255, 255, .5);
        padding: 5px;
    }
    .lasso path {
        stroke: rgb(80, 80, 80);
        stroke-width: 1px;
    }
    .lasso .drawn {
        fill-opacity: .05;
    }
    .lasso .loop_close {
        fill: none;
        stroke-dasharray: 4, 4;
    }
    .lasso .origin {
        fill: #FF0000;
        fill-opacity: 0;
    }
    .not_possible {
        fill: rgb(200, 200, 200) !important;
    }
    .possible {
        fill: #FF0000 !important;
    }
    .selected {
        fill: steelblue;
    }
}

