        <os-tray content="tray-content-block">
            <section class="tray-content">
                <div class="row">
                <div class="col-xs-12 form-item">
                        <label>Cluster</label>
                        <div class="input-group">
                            <div class="dropdown bs-dropdown">
                                <button class="btn btn-default dropdown-toggle" 
                                style="max-width: 220px;"
                                type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.layout.name}}<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="item in vm.layouts" ng-click="vm.setLayout(item)">{{item.name}}</li>
                                </ul>
                            </div>
                            <div class="input-group-addon btn-help-icon"><a href="http://resources.sttrcancer.org/api/#gene-sets" target="_blank"><i style="color:#000" class="glyphicon glyphicon-question-sign"></i></a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 form-item">
                        <label>Drag Cluster To Orient + Brush Ticks To Select</label>
                        <div style="background-color:#FFF; border: 1px solid #EAEAEA;cursor: hand;position: relative;width:260px;height:260px;">
                        <div id="scatter-select-controller" style="position:absolute;width:260px;height: 260px;"></div>
                        <div id="scatter-axis-controller" style="position:absolute;width:240px;height: 240px;top:10px;left:10px;"></div>
                            
                        </div>
                    </div>
                  
                    <div class="col-xs-12 form-item">
                        <label>Variance Explained</label>
                        <div>
                            <os-tray-piechart chart-data1="vm.pc1" chart-data2="vm.pc2" chart-height="130"></os-tray-piechart>
                            <div class="pca-pc1-label"><span>PC1</span><br />{{vm.pc1[0].value}}%</div>
                            <div class="pca-pc2-label"><span>PC2</span><br />{{vm.pc2[0].value}}%</div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-item">
                        <label>Loadings</label>
                        <os-tray-barchart chart-data="vm.loadings" chart-height="100"></os-tray-barchart>
                    </div>
                </div>
            </section>
        </os-tray>
        <!-- Label + Chart -->
        <section class="tray-content-block">
            <div class="tool-container">
                <h2 class="h2-tool">3D Scatter Analysis</h2>
                <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}}</span>
                <div id="scatter-chart" class="scatter"></div>
            </div>
        </section>
        <os-color-panel ng-if="vm.showPanelColor" close="vm.showPanelColor=false"></os-color-panel>