// Namespace
.tool-menu{
  background-color: #EFEFEF;
  position: fixed;
  left: 0px;
  width: 300px;
  height: 100%;
  margin-left: 0px;
  margin-top: 5px;
  overflow-y: auto;
  z-index: 900;
  padding:20px;
  padding-bottom:100px;
}
.tool-menu-img{
  width: 60px;
  border-radius: 50%;
  float:left;
  box-shadow: 3px 3px 10px #888888;
}
.tool-menu-lbl{
  font-size: 20px;
  color:#000;
  margin-left:80px;
}
.tool-menu-row{
  padding-bottom:20px;
}
