// Namespace
.tool-menu{
  background-color: #EFEFEF;
  position: fixed;
  left: 0px;
  width: 300px;
  height: 100%;
  margin-left: 0px;
  margin-top: 5px;
  overflow-y: auto;
  z-index: 900;
  padding:20px;
  min-width: 300px;
  a:hover{
    text-decoration: none;
  } 
}
.tool-menu-img{
  width: 50px;
  border-radius: 50%;
  float:left;
  box-shadow: 3px 3px 10px #888888;
}
.tool-menu-lbl{
  margin-left:15px;
  margin-top: 0px;
  line-height: 50px;
  color:#000;
  font-size: 18px;
}
.tool-menu-row{
  padding-bottom:20px;
}

