<os-tray caption="Patients" content="tray-content-block">
    <section class="tray-content">
        <div class="row">
            <div class="col-xs-12 form-item">
                <label>Clinical Collections</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{vm.collection.name}}
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:260px;">
                            <li class="markers-command hvr-sweep-to-right" ng-repeat="item in vm.collections" ng-click="vm.collection=item">{{item.name}}</li>
                        </ul>
                    </div>
                    <div class="input-group-addon btn-help-icon"><a style="color:#000;" href="http://resources.sttrcancer.org/api/#clinical-data" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></div>
                </div>
            </div>

            <div class="col-xs-12 form-item">
                <label>Click To Export</label>
                <div class="btn-group" role="group" style="display: block">
                    <!-- <button class="btn btn-default btn-no-focus" type="button" style="width:50%; font-weight: 300;" ng-click="vm.exportCsv('selected')">Cohort Data</button> -->
                    <button class="btn btn-default btn-no-focus" type="button" style="width: 100%;font-weight: 300;" ng-click="vm.exportCsv('all')">Export {{vm.collection.name}} data</button>
                </div>
            </div>
        </div>
    </section>
</os-tray>
<section class="tray-content-block">
    <div class="tool-container">
        <h2 class="h2-tool">Spreadsheet</h2>
        <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}}</span>
        <button ng-click="vm.sortSelected()" class="btn btn-default" style="position:absolute; left: 310px;top: 30px;" tooltip="Move Selected Rows To The Top Of The Grid" tooltip-placement="right">
             Selected On Top</button>
        <button ng-click="vm.showPanelColumns=true" class="btn btn-default" style="position:absolute; right: 310px;top: 30px;" tooltip="Toggle Columns On + Off" tooltip-placement="right">
             Select Columns</button>
        <div class="grid" id="spreadsheet-grid" ui-grid="vm.options" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-autoResize ui-grid-grouping></div>
    </div>
</section>

<div class="panel panel-default mdi" ng-if="vm.showPanelColumns">
    <div class="panel-heading">
        <h3 class="panel-title">Visible Columns</h3>
        <span class="pull-right clickable" data-effect="fadeOut" ng-click="vm.closePanelColumns()"><i class="fa fa-times"></i></span>
    </div>
    <div class="panel-body" style="padding-top:0px;">

        <div class="row">
            <br />
            <div class="col-xs-12">
                <button class="btn btn-default btn-no-focus" type="button" ng-click="vm.showColumns()">Select All</button>
                <button class="btn btn-default btn-no-focus" type="button" ng-click="vm.hideColumns()">Deselect All</button>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4" ng-repeat="col in vm.options.columnDefs | orderBy:'name'" style="text-transform:capitalize;">
                <div class="checkbox" style="margin-bottom:0px">
                    <label><input type="checkbox" ng-model="col.visible" >{{col.name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>