.ui-grid-row.ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
    background-color: $color-blue-light;
}

.ui-grid {
    border: 0px solid #bbb;
}

.ui-grid-header {
    border-bottom: 0px;
}

.ui-grid-icon-menu {
    font-weight: 300;
    font-style: normal;
    border-color: #EAEAEA;
}

.ui-grid-header-cell {
    background: #F1f1f1;
    font-weight: 300;
    height:27px;
    max-height:27px;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell {
    border: 0px;
}

.grid {
    margin-top: 15px;
    width: 100%;
}

.ui-grid-menu-item {
    color: #000;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #ffffff;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #F7f7f7;
}

.ui-grid-menu .ui-grid-menu-inner ul li button:hover,
.ui-grid-menu .ui-grid-menu-inner ul li button:focus {
    box-shadow: inherit;
    background: #FFF;
}

.ui-grid-menu-button {
    background: #FFF;
    color: #000;
    transform: translate(-10px, -40px);
    line-height: 25px;
    padding: 0px 10px 0px 5px;
    box-shadow: inherit;
}