// Namespace
.comparecluster {}

.cell {
    stroke-width: 1;
    stroke: #DDD;
    fill: #FFF;
}

.point {
    fill: #0096d5;
    width: 20px;
    height: 20px;
}

.point-unselected {
    fill: #DDD;
}