// Namespace
.datasource{
  ul{
  	list-style: none;
    padding:0px;
    margin:0px;
  }
  li{
  	height: 150px;
    padding-right:50px;
  }
  img{
  	width: 150px;
  	height: auto;
  	float:left;
  	margin-right:50px;
    box-shadow: 3px 3px 10px #888888;
    border-radius:50%;
  }
  h2{
  	padding-top: 15px;
    margin-bottom: 0px;
  }
}
