// Namespace
.pca{

}
.axis path,
.axis line {
    fill: none;
    stroke: #59a5fb;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #59a5fb;
}
.pca-node:hover{
	stroke: rgb(89, 165, 251);
	stroke-width: 20px;
}
.extent{
	fill: #59a5fb;
    fill-opacity: .2;
}
.pca-node-selected{
	fill: none;
    stroke: red;
    stroke-width: 3;
}
.pca-tooltip{
    pointer-events : none;
    background-color: rgba(255,255,255,.5); 
    padding: 5px;
}
