// Namespace
.pca{
	
}
.axis path,
.axis line {
    fill: none;
    stroke: #59a5fb;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #59a5fb;
}