exportClasses(GeneSetBinomialMethods)

export(GeneSetBinomialMethods)

exportMethods(
  getExpressionData,
  getClinicalData,
  getGeneSets,
  randomSample, 
  analysisDataSetup,
  geneSetScoreTest
  )

import(SKAT, methods)

