exportClasses(PatientHistoryClass)

exportMethods (
  eventCount,
  geteventList,
  geteventTypeList,
  getpatientList,
  getTable,
  seteventList,
  setpatientList,
  seteventTypeList
  )

export(
   PatientHistory
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

