<div id="geneMenu" style="display:block">
     <div class="gene-menu">
        <section>
            <div class="row">
                <div class="col-xs-12 form-item genemenu-hr">
                    <label>Selected Gene Set</label>
                    <div class="input-group">
                        <input ng-readonly="vm.gene.type=='ALL'" style="background:#FFF;border-left-width:10px;border-left-color:{{vm.gene.color}};" class="form-control" aria-label="Text input with segmented button dropdown" ng-model="vm.gene.name" onfocus="this.select();">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" tooltip="{{vm.gene.type == 'UNSAVED' ? 'Save Gene' : 'Delete Gene'}}" tooltip-placement="left" ng-if="vm.gene.type!='ALL'" ng-click="vm.updateGene()">
                                <span class="fa {{vm.gene.type == 'UNSAVED' ? 'fa-plus' : 'fa-times'}}" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tooltip="Change Gene" tooltip-placement="left"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span></button>
                            <ul class="dropdown-menu dropdown-menu-right" style="width:260px;padding:0px;">
                                <li class="legend-bar markers-command hvr-sweep-to-right" style="height:25px;border-color:{{item.color}};width:100%;padding-left:10px;" ng-repeat="item in vm.genes" ng-click="vm.setGene(item)">{{item.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-item genemenu-hr">
                    <label class="genemenu-toggle-btn" data-toggle="collapse" data-target="#genemenu-histogram" tooltip="Show / Hide" tooltip-placement="right"> Histogram <i class="fa fa-angle-down" aria-hidden="true"></i></label>
                    <div id="genemenu-histogram" class="collapse in" style="background:#FFF;border:1px solid #EAEAEA;">
                        <div id="genemenu-chart" style="width:100%;height:150px;">
                            <div id="genemenu-single-value" class="genemenu-single-value"></div>
                        </div>
                        <div class="dropdown" style="width:100%">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%;border:0px solid #eaeaea;border-top-width:1px;">
                                {{vm.geneFeature.label}}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" style="width:260px;padding:0px;">
                                <li class="markers-command hvr-sweep-to-right" ng-repeat="item in vm.geneFeatures" ng-click="vm.geneFeature=item">{{item.label}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-item genemenu-hr">
                    <label class="genemenu-toggle-btn" data-toggle="collapse" data-target="#genemenu-survival-box" tooltip="Show / Hide" tooltip-placement="right">Survival Curve <i class="fa fa-angle-down" aria-hidden="true"></i></label>
                    <div id="genemenu-survival-box" class="collapse in" style="background:#FFF;border:1px solid #EAEAEA;padding:5px;">
                        <div id="genemenu-survival"></div>
                        <label>Genes</label>
                        <div ng-repeat="item in vm.genes" class="legend-bar markers-command hvr-sweep-to-right" style="border-color:{{item.color}};padding-left:10px;" ng-click="vm.setGene(item)">{{item.name}}
                        </div>
                        <label>Selected Gene</label>
                        <div class="legend-bar markers-command hvr-sweep-to-right" style="height:25px;border-color:{{vm.gene.color}};padding-left:10px;">{{vm.gene.name}} ({{vm.gene.type}})
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-item">
                    <label class="genemenu-toggle-btn" data-toggle="collapse" data-target="#genemenu-summary-box" tooltip="Show / Hide" tooltip-placement="right">Gene Summary <i class="fa fa-angle-down" aria-hidden="true"></i></label>
                    <div id="genemenu-summary-box" class="collapse in" style="background:#FFF;border:1px solid #EAEAEA;padding:5px;" ng-bind-html="vm.geneSummary"></div>
                </div>
                <div id="genemenu-legand"></div>
            </div>
            <i id="genemenu-lock" class="fa fa-lock tray-sticky-icon" ng-click="vm.toggle()" locked="true" tooltip="Show / Hide" tooltip-placement="left"></i>
        </section>
    </div>
</div>