
div {
   display: block;
   }

#gbmPathwaysDiv {
  }

#cyGbmPathwaysDiv {
  background-color: #FFFFFF;

  position: relative;

  height: 400px;
  width: 600px;

  border: 1px solid #aaa;

  margin-top: 0px;
  margin-left: 0px;

  padding: 0px;
  }

.gbmButton {
   font-size: 8pt;
   }

#gbmPathwaysMouseOverReadoutDiv{
  border: 1px solid #aaa;
  width: 800px;
  height: 20px;
  margin: 0px;
  }

#gbmPathwaysButtonDiv{
  margin-top: 0px;
  margin-bottom: 0px;
  }

#gbmPathwaysMovieSpeedReadout{
   border: 1px solid #aaa;
   width: 50px;
   height: 20px;
   margin: 0px;
   }
#bottomMargin{
   height:18px;
}