#cyMarkersDiv {
  background-color: white;  // medium light gray
  height: 400px;
  width: 600px;
  border: 1px solid #aaa;
  margin-top: 2px;
  margin-left: 0px;
  padding: 0px;
  }

#cyMarkersDiv select, input, button{
  font-size: 14px;
  }
  
#markersControlsLayoutTable{
  border: 1px solid black;
  margin: 2px;
  width: 100%;
  }

.chosen-container, .chosen-drop .chosen-search input {
   width: 100% !important;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  }