
.domain { 
  fill: none; 
  stroke: black; 
  stroke-width: 1; 

  } 


.extent {
  fill-opacity: .1;
  stroke: #f00;
}


.axis path, .axis line {
    stroke: black;
    stroke-width: 1px;
    }

circle {
   opacity: 1;
   }

circle.highlighted {
   fill: orange;
   opacity: 1;
   }

#pcaDisplay {
   border: 1px solid #aaa;
   width: 50px;
   height: 50px;
   background-color: #FAFAFA;
   margin-top: 1px;
   margin-left: 19px;
   margin-right: 0;
   margin-bottom: 1px;
   padding: 1px;
   padding-bottom: 0px;
   }

#pcaBroadcastSelectionToClinicalTable{
   font-size: 10pt;
   }

#pcaHighlight{
   font-size: 10pt;
   }

.pcaButton {
   font-size: 8pt;
   }

.pcaDownload{
padding-left:10px;
color: #808080;
 cursor: pointer;
}