// Namespace
.help {
    display: none;
    position: fixed;
    z-index: 9999;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    iframe {
        position: absolute;
        left: 5%;
        width: 90%;
        top: 10vh;
        height: 80vh;
        border: 3px solid #DDD;
    }
}