// Namespace
.cohorts {
    width: 400px !important;
    display: none;
    z-index: 2000;
    position: absolute;
    bottom: 0px;
    right: 50%;
    height: 240px !important;
    overflow: hidden;
    table {
        width: 100%;
    }
    td {
        padding: 5px 10px;
    }
    .panel-body {
        overflow: scroll;
        height: 200px !important;
        padding: 0px;
    }
}

.cohort-selected {
    color: #FFF;
    background-color: #59a5fb;
}
