<div class="cohorts panel panel-default cohorts-{{vm.type}}">
<div class="panel-heading">
    {{vm.type}} History
    <span class="pull-right fa fa-times" ng-click="vm.close()"></span>
</div>

<div class="panel-body cohorts-panel-body">
<table>
	<tr
	    ng-click="vm.setSelection(item)"
	    ng-repeat="item in vm.selections" 
	    ng-class="{'cohort-selected' : item==vm.selection}">
	    <td>{{item.tool}}</td>
	    <td>{{item.desc}}</td>
	    <td>{{item.ids.length}}</td>
	</tr>
</table>

</div>
</div>