<os-tool-menu datasource="{{vm.datasource}}"
 change="vm.addCohortPatient()"></os-tool-menu>
<os-tray caption="Patients" content="tray-content-block">
    <section class="tray-content">
            <div class="row">
                <div class="col-xs-12 form-label">
                    <h2>Filters</h2>
                </div>
                <div class="col-xs-12 form-item">
                    <label>Age At Diagnosis</label>
                    <div range-slider min="vm.diagnosisMinValue" model-min="vm.diagnosisMin" max="vm.diagnosisMaxValue" model-max="vm.diagnosisMax" show-values="true" attach-handle-values="true" on-handle-up="vm.applyFilter('Diagnosis')"></div>
                </div>
                <div class="col-xs-12 form-item">
                    <label>Survival</label>
                    <div range-slider min="vm.survivalMinValue" model-min="vm.survivalMin" max="vm.survivalMaxValue" model-max="vm.survivalMax" show-values="true" attach-handle-values="true" on-handle-up="vm.applyFilter('Survival')"></div>
                </div>
                <div class="col-xs-12 form-item">
                    <label>Search</label>
                    <input type="text" class="ngrs-range-slider" style="width: 100%;" ng-model="vm.search">
                </div>
            </div>
    </section>
</os-tray>

<section class="tray-content-block">
    <div class="container-fluid">
        <h2 class="h2-tool">Patient Data</h2>
        <h3 class="h3-datasource">{{vm.datasource}}</h3>
        <table id="history-datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        </table>
    </div>
</section>