<os-tray caption="Patients" content="tray-content-block">
    <section class="tray-content">
        <div class="row">
            <div class="col-xs-12 form-item">
                <br />
                <label>Export</label>
                <div>
                    <button class="btn btn-default" ng-click="vm.exportCsv()">Excel (CSV)</button>
                </div>
            </div>
            <!--
            <div class="col-xs-12 form-item">
                <label>Fields</label>
                <div>
                </div>
            </div>
            -->
        </div>
    </section>
</os-tray>
<section class="history-content">
    <div class="container-fluid" style="text-align:center;">

        <h2 class="h2-tool">Patient Data</h2>
        <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}} </span>
        <table id="history-datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        </table>
    </div>
</section>
