// Namespace
#history-grid {
  path{
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }
  
  .dt {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden !important;
  }
  .dt-header-cell{
    border:solid 0px #FFF;
    border-right-width: 1px; 
    min-width: 10px !important;
  }
  .dt-header {
    background-color: #47a8d8;
    color: #FFF;
  }
  .dt-cell-content {
    line-height: 50px;
  }
  .dt-header-cell-label {
    line-height: 50px;
    text-transform: uppercase;
  }
  .dt-row:hover {
    background: #EEE;
  }
  .selected {
    background: #DDD;
  }
}
