exportClasses(NetworkMaker)

exportMethods(
  calculateSampleSimilarityMatrix,
  usePrecalculatedSampleSimilarityMatrix,
  getSimilarityMatrix,
  buildChromosomalTable,
  getChromosomalInfo,
  getSamplesGraph,
  getChromosomeGraph,
  getMutationGraph,
  getCopyNumberGraph,
  getSimilarityScreenCoordinates,
  getChromosomeScreenCoordinates
  )

export(
   NetworkMaker
   )

import(SubjectHistory)
import(Dataset)
importClassesFrom(methods, character, integer)
importFrom(methods, new)

