exportClasses(NetworkMaker)

exportMethods(
  getPackage,
  calculateSimilarityMatrix,
  getSampleCoordinates,
  buildChromosomalTable,
  getChromosomalInfo,
  samplesToGraph,
  transformSimilarityToScreenCoordinates,
  transformChromLocsToScreenCoordinates
  )

export(
   NetworkMaker
   )

import(PatientHistory)
import(SttrDataPackage)
importClassesFrom(methods, character, integer)
importFrom(methods, new)

