<footer class="footer container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img class="footer-logo" src="/assets/images/logo-fred-hutchinson-cancer-research-center.png" alt="Fred Hutchinson Cancer Research Center"/>
      <img class="footer-logo" src="/assets/images/logo-university-of-washington-medicine.png" alt="UW Medicine"/>
      <img class="footer-logo" src="/assets/images/logo-seattle-cancer-care-alliance.png" alt="Seattle Cancer Care Alliance"/>
    </div>
    <div class="col-xm-12 col-sm-6 text-right">
      <a href="https://www.facebook.com/STTRCancer" target="_blank">
        <img class="footer-icon" src="/assets/images/sttr-facebook-out.png" alt="Facebook"/>
      </a>
      <a href="https://twitter.com/sttrcancer" target="_blank">
       <img class="footer-icon" src="/assets/images/sttr-twitter-out.png" alt="Twitter"/>
      </a>
      <a href="https://plus.google.com/+fredhutch/videos" target="_blank">
        <img class="footer-icon" src="/assets/images/sttr-youtube-out.png" alt="YouTube"/>
      </a>
      <a href="http://instagram.com/FredHutch" target="_blank">
        <img class="footer-icon" src="/assets/images/sttr-instagram-out.png" alt="Instagram"/>
      </a>
      <a href="http://www.linkedin.com/company/fred-hutchinson-cancer-research-center/careers?trk=top_nav_careers" target="_blank">
        <img class="footer-icon" src="/assets/images/sttr-linkedin-out.png" alt="LinkedIn"/>
      </a>
      <a href="https://plus.google.com/116048577052683099154/posts" target="_blank">
        <img class="footer-icon" src="/assets/images/sttr-google-out.png" alt="Google+"/>
      </a>
    </div>
  </div>
     
      
      



</footer>