// Namespace
.header{
	position:absolute;

	.navbar-brand{
		padding:10px 0px;
	}
	.navbar{
		line-height: 70px;
		.container-fluid{
			padding:0px 20px;
		}
	}
	.nav{
		li{
			color: #FFF;
			a{
				span{
					padding-right:5px;
				}
			}
		}
	}
	.nav-divider{
	    background-image: url(/assets/images/texture.png);
	    background-size:cover;
	    box-shadow: 3px 3px 10px #000000;
	    height:4px;
	    width: 100%;
	    z-index: 10000;
	    margin-bottom: -1px;
	}
}
.header-link{
	color:#FEFEFE !important;
	cursor:hand;
}
.header-link:hover{
	color:#FFF !important;
}
.header-dropdown-img{
	width:30px;
	height:30px;
	box-shadow: 3px 3px 10px #888888;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 6px;

}


.github{
	color:#FFF;
	padding:0px;
	margin:0px;
	cursor:pointer;
	
}
