// Namespace
.header-logo-img {
    position: absolute;
    left: 0px;
    top: 10px;
    max-height: 40px;
    image-rendering: crisp-edges;
}

.header-logo-text {
    position: absolute;
    left: 45px;
    top: 0px;
    font-size: 18px;
    //font-weight: 200;
    line-height: 60px;
    vertical-align: middle;
    color: #FFF;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.nav {
    li {
        a {
            font-size: 12px;
            span {
                padding-right: 5px;
            }
        }
    }
}

.navbar {
    border: none;
    box-shadow: $box-shaddow;
}

.header {
    position: absolute;
    width: 100%;
    ul.dropdown-menu,
    div.dropdown-menu {
        padding: 25px;
        position: fixed !important;
        left: 1%;
        top: 60px;
        border: 0px;
        border-radius: 0px;
        width: 98%;
        transition: all;
    }
}