// Namespace
.navbar-brand{
	padding:10px 0px;
}
.navbar{
	line-height: 70px;
	.container-fluid{
		padding:0px 20px;
	}
}
.nav{
	li{
		color: #FFF;
		a{
			span{
				padding-right:5px;
			}
		}
	}
}

