<div class="landing">
    <header class="landing container">
        <div class="row marquee marquee-bg">
            <div class="col-sm-12">
                <div class="header-content" style="text-align:center;pointer-events: none;z-index: 999;">
                    <h1 class="landing-h1">Oncoscape</h1>
                    <p class="landing-h2"> Cancer Genomics</p>
                    <span class="landing-buttons">
                        <a class="btn btn-outline btn-xl page-scroll " ng-click="vm.getStarted() ">Explore</a>
                        <a class="btn btn-outline btn-xl page-scroll " href="http://resources.sttrcancer.org/oncoscape ">Learn More</a>
                    </span>
                </div>
            </div>
        </div>

    </header>
    <div class="container-fluid " style="background-color:#000; color:#FFF;padding-top:150px;padding-bottom:150px; ">
        <div class="row ">
            <div class="col-xs-12 col-sm-7 ">
                <h1 style="font-size:50px;pointer-events:none; ">Our Mission</h1>
                <p style="font-size:30px;line-height:50px; ">Empower researchers to discover novel patterns and relationships between clinical and molecular factors.</p>
                <a class="btn btn-outline btn-xl page-scroll " href="http://cancergenome.nih.gov/publications/publicationguidelines ">Publishing Guidelines</a>
            </div>
            <div class="hidden-xs col-sm-5 " style="text-align:center ">
                <img src="assets/images/thumb.png " class="img-responsive " alt=" " style="display:inline-block;height:100%; ">
            </div>
        </div>
    </div>
    <div class="container-fluid hidden-xs " style="padding-top:150px;padding-bottom:300px;background:#EEE;; ">
        <div class="row " style="font-size:18px; ">
            <div class="col-sm-12 ">
                <h1 style="font-size:50px; ">Affiliations</h1>
                <br />
            </div>
            <div class="col-sm-3 ">
                <a href="http://www.fredhutch.org "><img src="/assets/images/logo-hutch.jpg "></a>
            </div>
            <div class="col-sm-3 ">
                <a href="http://www.washington.edu/ "><img src="/assets/images/logo-uw.jpg "></a>
            </div>
            <div class="col-sm-3 ">
                <a href="https://www.seattlecca.org/ "><img src="/assets/images/logo-scca.jpg "></a>
            </div>
            <div class="col-sm-3 ">
                <img src="/assets/images/logo-sarc.jpg ">
            </div>
        </div>
    </div>

</div>