// Namespace
.landing{
.btn{
	padding:0px;
	margin:0px;
	margin-top:35px;
	font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-weight: 300;
}
.btn:hover{
        color:#1396de !important;
}
	
header {
    a:hover{
        color:#1396de;
    }
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    //background: url("/assets/images/pattern2.png"), linear-gradient(120deg, #00236a 20%,  #1396de, #00236a);
    //background-size: cover;
    background: linear-gradient(120deg, #00236a 20%,  #1396de, #00236a);
    /*background: url("/assets/images/imgad.jpeg");
    background-size: cover;
    background-position: 90%;*/
    //background-attachment: fixed;
    
    
    color: white;
    .btn{
        background:#000;
        color:#FFF;
        border-radius: 5px;
        padding:10px;
        font-weight: 300;
        letter-spacing: 1.5px;
        transition: all .3s;
        border:solid 3px #1396de;
    }
    .btn:hover{
        color:#000 !important;
        background:#FFF !important;
    }
    .header-content {
        text-align: center;
        padding: 150px 0 50px;
        position: relative;
        .header-content-inner {
            position: relative;
            max-width: 500px;
            margin: 0 auto;
            h1 {
                margin-top: 0;
                margin-bottom: 30px;
                font-size: 30px;
            }
            .list-badges {
                margin-bottom: 25px;
                img {
                    height: 50px;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .device-container {
        max-width: 300px;
        margin: 0 auto 100px;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            text-align: left;
            padding: 0;
            height: 100vh;
            .header-content-inner {
                max-width: none;
                margin: 0;
                position: absolute;
                top: 40%;
                transform: translateY(-40%);
                h1 {
                    font-size: 35px;
                }
            }
        }
        .device-container {
            max-width: none;
            max-height: calc(100vh - 100px);
            margin: 100px auto 0;
        }
    }
    @media (min-width: 992px) {
        .header-content .header-content-inner h1 {
            font-size: 50px;
        }
    }
}
}