// Namespace
.cohort-menu {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    left: 0px;
    width: 300px;
    height: 100%;
    margin-left: 0px;
    margin-top: 5px;
    overflow-y: auto;
    z-index: 900;
    padding: 20px;
    min-width: 300px;
    a:hover {
        text-decoration: none;
    }
}

.cohort-menu-chart-bar {
    fill: #0b97d3;
}

.cohort-chart-hide {
    display: none;
}

.cohortmenu-single-value {
    padding-top: 25%;
    height: 150px;
    font-size: 20px;
    text-align: center;
    background-color: #0b97d3;
    color: #FFF;
}

.cohortmenu-single-value-numeric {
    font-size: 50px;
    line-height: 150px;
    padding-top: 0px;
}