<div>
    <label class="tray-label tray-label-left">Cohorts</label>
    <section class="tool-menu tray tray-collapsed-left">
        <div class="row">
            <br />
            <div class="col-xs-12 form-item">
                <label>Cohorts</label>


                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="">Patients</a></li>
                    <li role="presentation"><a href="">Genes</a></li>
                </ul>
                <div style="background-color:#ffffff;border:#dddddd 1px solid;border-top-width:0px;padding:10px;">
                <div style="text-align:center;position:relative;top:5px;">
                    <button class="btn btn-default">Save Current Selection </button>
                </div>
                <hr style>
                <a href="">M+P 04/17/77 17:02</a><br />
                <a href="">Patient History 17:05</a><br />
                <a href="">Patient History 17:20</a><br />

                
                </div>
                
            </div>
        </div>
    </section>
</div>
