// Namespace
.cohortmenu-toggle-btn {
    width: 100%;
    background: #fff;
    text-align: left;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 1px;
    border: none;
    font-weight: 500;
    i {
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        margin-right: 10px;
    }
}

.cohortmenu-toggle-btn-first {
    padding-top: 0px;
    margin-top: 0px;
}

.collapsed {
    //margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    i {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.cohort-menu {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    left: 0px;
    width: 300px;
    height: 100%;
    margin-left: 0px;
    margin-top: 5px;
    overflow-y: auto;
    z-index: 900;
    padding: 20px;
    min-width: 300px;
    a:hover {
        text-decoration: none;
    }
}

.cohort-menu-chart-bar {
    fill: #0b97d3;
}

.cohort-chart-hide {
    display: none;
}

.cohortmenu-single-value {
    padding-top: 25%;
    height: 150px;
    font-size: 20px;
    text-align: center;
    background-color: #0b97d3;
    color: #FFF;
}

.cohortmenu-single-value-numeric {
    font-size: 50px;
    line-height: 150px;
    padding-top: 0px;
}