<os-tool-menu datasource="{{vm.datasource}}" change="vm.addCohortPatient()">
</os-tool-menu>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/bower_components/highcharts/modules/heatmap.js"></script>
<script src="/bower_components/highcharts/modules/exporting.js"></script>
<os-tray content="tray-content-block" change="vm.resize($event)">
    <section class="tray-content">
                <div class="col-xs-12 form-label">
                    <h2>Cohorts</h2>
                </div>
                <div class="col-sm-12 form-item">
                    <label>Patient Cohort 1</label>
                    <p> {{vm.optCohort1}} </p>
                </div>
                <div class="col-sm-12 form-item">
                    <label>Patient Cohort 2</label>
                     <p> {{vm.optCohort2}} </p>
                </div>
    </section>
</os-tray>
<section class="tray-content-block">
  <div class="container-fluid">
    <h2 class="h2-tool">Gene Set Binomial Test</h2>
    <h3 class="h3-datasource">{{vm.datasource}}</h3>
    <div id="geneSetTestsModuleDiv" class="genesettest">

    <div id="geneSetTests_Div">
        <div id="geneSetTestsControlsDiv">
            <div class="navbar-collapse collapse navbar-inverse-collapse">  
                 <div id="geneSetTestsInputsDiv" >
                    <div id="geneSetTestsLaunchButtonDiv">
                        <form>
                         <div>
                         {{vm.message}}
                         </div>
                         <div id="heatMap"></div>
                       </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>

  </div>
  </div>
</section>