// Namespace
.login{

}

.marque{
	background-image: url(/assets/images/sttr-marque.png);
	background-size:cover;
	
	position:absolute;
	left:0px;
	right:0px;
	height:150px;
}
.main-headline{
	height:150px;
	position:relative;
	h1{
		color:#FFF;
		font-weight:100;
		line-height: 4rem;
		letter-spacing: .5rem;
		position:absolute;
		bottom:20px;
		max-width: 40%;
	}
}