/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$color-gray-light: #EAEAEA;
$color-gray: #bbb;
$color-white: #FFFFFF;
$color-blue-light: #c1e9fe;
$color-onco-blue: #039BE5;
$color-blue: #039BE5;
$link-color: $color-blue;
$link-hover-color: $color-blue;
$box-shaddow: 0 2px 3px #bbb; // #039BE5 - #039BE5
$input-border: $color-gray-light;
$btn-default-border: $color-gray-light;
$btn-primary-bg: $color-blue;
$input-border-radius: 0;
$border-radius-base: 0;
$navbar-inverse-bg:$color-blue;
$navbar-inverse-link-color: $color-white;
$navbar-inverse-brand-hover-bg: $color-blue !important;
$navbar-inverse-link-active-bg:$color-blue !important;
$navbar-inverse-link-hover-bg: $color-blue !important;
$navbar-inverse-brand-color: $color-white;
$navbar-inverse-brand-hover-color: $color-white;
$navbar-height: 60px;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Lato',
sans-serif;
$font-family-serif: 'Lato',
sans-serif;
$font-size-base: 13px;
$headings-font-weight: 300 !default;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
html {}

body {
    font-weight: 300;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
    font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label {
    font-weight: 300;
}

button {
    font-weight: 300;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-no-focus:focus {
    outline: none !important;
    background-color: #FFF !important;
    border-color: #cccccc !important;
}

.btn-help-icon {
    background-color: #FAFAFA;
    color: #000;
    cursor: pointer;
}

.btn-help-icon:hover {}

.btn-no-focus:hover {}

*:focus {
    outline: none;
}

.radio label,
.checkbox label {
    font-weight: 300;
}

.tooltip {
    z-index: 99999 !important;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 70px;
        padding-right: 70px;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

.h2-tool {
    font-size: 20px;
    margin-bottom: 0px;
}

.h3-tool {
    margin-bottom: 20px;
}

.h3-datasource {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
    display: inline-block;
}

.h3-datasource:before {
    content: "(";
}

.h3-datasource:after {
    content: ")";
}

.sro {
    // Screen Readers Only
    display: none !important;
}

.form-control {
    height: inherit;
}

.form-item {
    color: #000;
    margin-bottom: 20px;
}

.legend {
    text-transform: capitalize;
    display: block !important;
}

.legend-bar-container {
    border: 1px solid $color-gray-light;
    border-left-width: 0px;
    background: $color-white;
    padding-bottom: 1px;
}

.legend-bar {
    text-transform: capitalize;
    border: solid 0px;
    border-left-width: 10px;
    padding-left: 10px;
    display: block;
    margin-top: 1px;
    margin-bottom: 0px;
    overflow: hidden;
    line-height: 25px;
}

.legend-bar-button {
    position: relative;
    background-color: #FFF;
    padding: 2px 10px;
    line-height: 25px;
}

.legend-bar-button:focus {
    outline: none;
}

.legend-dot {
    border: solid 0px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 1px;
}

.dropdown-menu {
    li {
        padding: 0px 5px;
    }
    li:hover {
        background-color: $color-gray-light;
    }
}

.tool-container {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
}


/* Overrides */

.ngrs-range-slider {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.bs-dropdown {
    width: 100%;
    button {
        width: 100%;
        text-align: left;
        height: 34px;
        line-height: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        position: relative;
        .caret {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
    ul {
        li {
            padding: 5px;
        }
    }
}

.container-main {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0px;
    padding-top: 59px;
}

.container-main-full {
    padding-top: 0px;
}

.legend {
    display: inline-block;
    color: #000;
    ul {
        list-style-type: none;
        margin: 20px 20px 20px 0px;
        padding: 0px;
        font-weight: 300;
    }
}

.legend-section {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-blue;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-sweep-to-right:active,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:hover {
    color: #fff
}

.hvr-sweep-to-right:active:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-blue;
    ;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-sweep-to-left:active,
.hvr-sweep-to-left:focus,
.hvr-sweep-to-left:hover {
    color: #fff
}

.hvr-sweep-to-left:active:before,
.hvr-sweep-to-left:focus:before,
.hvr-sweep-to-left:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-blue;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-sweep-to-bottom:active,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:hover {
    color: #fff
}

.hvr-sweep-to-bottom:active:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-blue;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-sweep-to-top:active,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:hover {
    color: #fff
}

.hvr-sweep-to-top:active:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
@media print {
    @page {
        margin: 0;
        size: A4 landscape;
    }
    button {
        display: none;
    }
    #main {
        padding-top: 0px;
    }
    .tray-label {
        display: none !important;
    }
    .header {
        display: none;
    }
    .tray {
        background: none;
        border: none;
        box-shadow: none
    }
    .fa-angle-down {
        display: none;
    }
    .fa-lock {
        display: none;
    }
    .caret {
        display: none;
    }
    .tray-right {
        display: block !important;
    }
}