<div class="input-group">
    <div class="dropdown bs-dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
        style="height:35px;">
            {{vm.cohort.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
            <li ng-repeat="item in vm.cohorts" ng-click="vm.cohort=item">
                <input type="text" ng-value="item.name">
            
            </li>
        </ul>
    </div>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">+</button>
    </span>
</div>
  