// Namespace
.tray {
    position: fixed;
    right: 0px;
    width: 300px;
    height: 100%;
    margin-right: 0px;
    margin-top: 5px;
    overflow-y: auto;
    background-color: #EFEFEF;
    background: url("/assets/images/bg-pattern.png"), #f9f9f9; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 900;
    padding: 20px;
    padding-top: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-bottom: 150px;
    overflow: auto;
    box-shadow: 0px 2px 7px #666;
}

::-webkit-scrollbar {
    width: 0em;
}

.tray-left {
    right: auto;
    left: 0px;
    box-shadow: 0px 2px 7px #666;
}

//.tray:hover { overflow-y:auto; }
.tray-sticky-icon {
    position: absolute;
    right: 30px;
    top: 25px;
}

.tray-sticky-icon:focus {
    outline: 0;
}

.tray-collapsed {
    margin-right: -280px !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.tray-collapsed-left {
    margin-left: -280px !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.tray-content-block {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-right: 300px;
}

.tray-content-block-collapsed {
    padding-right: 20px;
}

.tray-label {
    
    position: absolute;
    color: #000;
    background-color: #EEE;
    width: 20px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 100;
    padding-top:52vh;
}

.tray-label-right {
    right: 0px;
    top: 0px;
}

.tray-label-left {
    left: 0px;
    top: 0px
}
