// Namespace
.tray {
    position: fixed;
    left: auto;
    right: auto;
    width: 300px;
    height: 100%;
    min-width: 300px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-y: auto;
    background-color: #FAFAFA;
    z-index: 900;
    padding: 20px;
    padding-top: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-bottom: 75px;
    overflow: auto;
    box-shadow: $box-shaddow;
    border: solid 0px $color-gray-light;
}

.tray-left {
    left: 0px;
    box-shadow: $box-shaddow;
    border: solid 0px $color-gray-light;
}

.tray-right {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    right: 0px;
    left:auto;
    margin-left: 0px;
    a:hover {
        text-decoration: none;
    }
}

//.tray:hover { overflow-y:auto; }
.tray-sticky-icon {
    position: absolute;
    right: 35px;
    top: 15px;
}

.tray-sticky-icon:focus {
    outline: 0;
}

.tray-collapsed {
    background-color: rgba(255, 255, 255, 0) !important;
    margin-right: -280px !important;
    margin-left: -280px !important;
}
.tray-collapsed-right {
    margin-left: -280px !important;
}

.tray-collapsed-left {
    margin-right: -280px !important;
}


.tray-content-block {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tray-content-block-collapsed {
    padding-right: 20px;
}

.tray-label {
    position: absolute;
    color: #000;
    background-color: #EEE;
    width: 20px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 100;
    padding-top: 52vh;
}

.tray-label-right {
    right: 0px;
    top: 0px;
}

.tray-label-left {
    left: 0px;
    top: 0px
}


/* TRAY BAR CHART */

.tray-chart {
    padding: 0px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    position: relative;
    width: 260px;
}

.tray-chart rect {
    fill: $color-blue;
}