exportClasses(OncoDev15, UserDataStore)

export(
  OncoDev15,
  UserDataStore,
  addRMessageHandler
  )

exportMethods(
  show,
  exeCmd,
  getDataSetNames,
  setActiveDataSet,
  getActiveDataSet,
  getUserID,
  getUserGroups,
  getURI,
  getUserDirectory,
  addData,
  getDataItem,
  deleteDataItem,
  getSummary
  )

importClassesFrom(methods, character, integer)
importFrom(methods, new)


import(BiocGenerics)
import(httpuv)
import(jsonlite)
import(reshape2)
