// Namespace
.login {
    box-shadow: 0px 3px 10px #AAA;
    margin: 0px;
    margin-left: 60px;
    padding-top: 0px !important;
}

.login-header {
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    text-align: left;
    //font-weight: bold;
}

.login-body {
    padding: 20px;
    //border:#BBB 4px solid;
    //border-width: 1px 1px 1px 1px;
    border: #BBB solid 1px;
}

.login-option {
    display: inline-block;
    font-size: 14px;
    cursor: pointer !important;
    width: 33%;
    padding-top: 10px;
    li {
        font-size: 18px;
    }
}

.login-option:hover {
    color: #0980b3 !important;
}

.login-icon {
    width: 20px;
    text-align: left;
    font-weight: 300;
}
