// Namespace
.login{
    box-shadow: 0px 3px 10px #AAA;
    margin: 30px;
}
.login-header{
    
    
    background-color:#000;
    
    color: #FFF;
    padding: 10px 20px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    // border:#BBB 1px solid;
    // border-bottom-width:0px;
    font-size: 20px;
}
.login-body{
    padding: 15px 20px ;
    border:#BBB 1px solid;
    border-width: 0px 1px 1px 1px;
}
