<section class="tools container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-6">
            <h1>Analysis Tools</h1>
        </div>
    </div>
    <div class="row">
        <ul>
            <li ng-repeat="tool in vm.tools" class="col-xs-12 col-sm-6 col-md-4 col-lg-3"ng-click="vm.explore(tool.route, vm.datasource)">
                <img class="tools-img" ng-src="/assets/images/datasets/{{tool.img}}">
                <div class="tools-copy">
                	<h3 class="tools-lbl">{{tool.name}}</h3>
	                <a href="">Explore</a>
	             </div>
            </li>
        </ul>
    </div>
</section>
