<section class="datasource">
	<div class="container">
		<div class="row">
			<h2>Tools ({{vm.datasource}})</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
		</div>
		<div class="row">
			<ul>
				<li ng-repeat="tool in vm.tools" class="col-sm-6">
					<img ng-src="/assets/images/datasets/{{tool.img}}">
					<h2>{{tool.name}}</h2>
					<p>Lorem ipsum dolor sit amet, cras eu mollis vivamus, ad sollicitudin rhoncus dui proin.  </p>
					<a href="" ng-click="vm.explore(tool.route, vm.datasource)">Explore</a>
					
				</li>
			</ul>
		</div>
	</div>
</section>