<footer class="footer">

      <!-- Logos -->
      <div id="footer-logos">
        <a href="http://www.fredhutch.org" target="_blank"><img width="235" height="95" src="/assets/images/logo-fred-hutchinson-cancer-research-center.png" alt="Fred Hutchinson Cancer Research Center"/></a>
        <a href="http://www.uwmedicine.org" target="_blank"><img width="236" height="95" src="/assets/images/logo-university-of-washington-medicine.png" alt="UW Medicine"/></a>
        <a href="http://www.seattlecca.org" target="_blank"><img width="219" height="95" src="/assets/images/logo-seattle-cancer-care-alliance.png" alt="Seattle Cancer Care Alliance"/></a>
      </div>
      
      <!-- social media icons 
      <div class="footer-social">
        <a href="https://www.facebook.com/STTRCancer" target="_blank">
          <img src="/assets/images/sttr-facebook-out.png" alt="Facebook"/>
        </a>
        <a href="https://twitter.com/sttrcancer" target="_blank"><img class="rolloverImage" data-hover="/assets/images/sttr-twitter-over.png" src="/assets/images/sttr-twitter-out.png" alt="Twitter"/></a>
        <a href="https://plus.google.com/+fredhutch/videos" target="_blank"><img class="rolloverImage" data-hover="/assets/images/sttr-youtube-over.png" src="/assets/images/sttr-youtube-out.png" alt="YouTube"/></a>
        <a href="http://instagram.com/FredHutch" target="_blank"><img class="rolloverImage" data-hover="/assets/images/sttr-instagram-over.png" src="/assets/images/sttr-instagram-out.png" alt="Instagram"/></a>
        <a href="http://www.linkedin.com/company/fred-hutchinson-cancer-research-center/careers?trk=top_nav_careers" target="_blank"><img class="rolloverImage" data-hover="/assets/images/sttr-linkedin-over.png" src="/assets/images/sttr-linkedin-out.png" alt="LinkedIn"/></a>
        <a href="https://plus.google.com/116048577052683099154/posts" target="_blank"><img class="rolloverImage" data-hover="/assets/images/sttr-google-over.png" src="/assets/images/sttr-google-out.png" alt="Google+"/></a>
      </div>
      -->

</footer>