// Namespace
.footer{
	background-color:#000;
  	position: fixed;
  	bottom: 0px;
  	width: 100%;
  	padding: 0px 20px;
}
.footer-logo{
	width:auto;
	max-height:50px;
}
.footer-icon{
	width:auto;
	max-height:30px;
	margin-top:10px;
	padding-right:5px;
}
