// Namespace
// #timelines-chart{
//     padding-top:50px;
// }
// .timeline-hover{
// 	position:absolute;
// 	top:35px;
// 	left:310px;
// 	font-size:12px;
// 	pointer-events:none;
// 	dt{
// 		text-transform: uppercase;
// 	}
// 	dl{
// 		display: inline-block;
// 		padding-left:10px;
// 		padding-right:10px;
// 		margin-bottom:10px;
// 		padding-bottom:0px;

// 	}	
// }
// .timeline-row{
// 	fill: #FFFFFF;
// }
// .timeline-selection{
// 	fill: #FFFFFF;
// }
// .timeline-selected{
// 	fill: #DDDDDD;
// 	width: 100%;
// }
// .timeline-highlight{
// 	fill: #d7e8ff;
// 	width:100%;
// }
// .timeline-slider{
// 	width:15px !important;
// 	border:none;
// 	box-shadow:none;
// 	background-color:#DDD;
// 	border-radius: 0px;
// 	padding:0px;
// 	width:auto;
// 	.ngrs-runner{
// 		margin: 0 0 0 0 !important;
// 		width: auto !important;
// 	}
// 	.ngrs-join{
// 		width: 100% !important;
// 		margin:0 0 0 0 !important;
// 		left: 0% !important;
// 		border-radius: 0px !important;
// 		cursor: ns-resize !important;
// 		opacity: .3;
// 	}
// 	.ngrs-handle{
// 		height: 8px !important;
// 		border-radius: 0px;
// 		margin:0 0 0 0 !important;
// 	}
// }
// .timeline-events{
// 	list-style-type: none;
// 	display: inline-block;
// 	padding-left:0px;
// 	li{
// 		display: inline-block;
// 		padding-left:3px;
// 		padding-right:20px;
// 		border:solid 0px #DDDDDD;
// 		border-left-width: 13px;
// 	}
// }
// .timeline-legend-scale{
// 	position:relative;
// 	top:-30px;
// 	width: 100%;
// 	text-align: left; 
// 	font-weight: 500;
// }
// .timeline-axis{
//     fill: none;
//     stroke: black;
//     shape-rendering: crispEdges;
// }
