<os-tray content="tray-content-block" change="vm.resize($event)">
    <section class="tray-content">
        <div class="row">
            <br />
            <div class="col-xs-6 form-item" style="padding-right:5px">            
                <label>Align By</label>
                <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{vm.align.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.events" ng-click="vm.align=item; vm.update(); ">{{item.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 form-item" style="padding-left:5px">
                <label>Order By</label>
                <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{vm.sort.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.events" ng-click="vm.sort=item; vm.update();">{{item.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 form-item" style="padding-right:5px">
                <label>Patient Status</label>
                <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{vm.filter.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.filters" ng-click="vm.filter=item;vm.update();">{{item.name}}</li>
                    </ul>
                </div>
            </div>
<!--             <div class="col-xs-6 form-item" style="padding-left:5px">
                <label>Selected Patients</label>
                <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{vm.mode.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.modes" ng-click="vm.mode=item">{{item.name}}</li>
                    </ul>
                </div>
            </div> -->
            <div class="col-xs-6 form-item" style="padding-left:5px">
                <label>Timescale</label>
                <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{vm.timescale.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.timescales" ng-click="vm.timescale=item;vm.update();">{{item.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 form-item">

                <label>Events</label>
                <div ng-repeat="item in vm.events track by $index" class="legend-bar" style="border-color:{{item.color}};position:relative;background-color:#FFF;padding:2px 10px;line-height:25px;">{{item.name}} 
                    <label class="switch {{item.class}}" style="float:right">
                        <input type="checkbox" class="switch-input"
                            ng-model="item.selected"    
                            ng-change="vm.update();">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
            <div class="col-xs-12 form-item" >
                <div id="timelines-tip" style="min-height:200px;"><b>Rollover Event For Details</b></div>
            </div>
        </div>
    </section>
</os-tray>
<section class="tray-content-block">
    <div style="position:absolute;top:10px;text-align:center;width:100%;">
        <h2 class="h2-tool">Timelines</h2>
        <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}}</span>
        <div class="timelines-content" style="margin-top:20px;">
            
        </div>

    </div>
</section>

<os-color-panel ng-if="vm.showPanelColor" close="vm.showPanelColor=false"></os-color-panel>