// Namespace
.timelines{
	
}
.timeline{
	background-color:red;
}
.timeline-events{
	list-style-type: none;
	display: inline-block;
	padding-left:0px;
	li{
		display: inline-block;
		padding-left:3px;
		padding-right:20px;
		border:solid 0px #DDDDDD;
		border-left-width: 13px;
	}
	
}