// Namespace
.markers-command{
	cursor:pointer;
	display:block;
	padding:0px;
	padding-top:1px;
	padding-bottom:1px;
	-webkit-transition-property: padding;
    -webkit-transition-duration: .3s;
    transition-property: padding;
    transition-duration: .3s;
    
}
.markers-command:hover{
	padding-left:10px;
	text-decoration:none;

}
.markers-button-slider{
	position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: right;
    padding-right:10px;
}
.markers-button-slider-circle{
	display: inline-block;
	margin-top:5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color:#FFF;
	border: solid #FFF 3px;
}
.markers-button-slider-rect{
	display: inline-block;
	margin-top:5px;
	width: 20px;
	height: 20px;
	background-color:#FFF;
	
}
.markers-button-slider:hover{
	opacity: 1;
}
.filter-button{
	border:solid 0px #CCC;
	border-left-width:10px;
	border-radius:0px;
	margin-top:1px;
	width: 100%;
	text-align: left;
	font-weight:300;
}
.circle{
		border-radius: 50%;
		width: 15px;
		height: 15px;
		margin-right:10px;
		margin-top:2px;
		padding-top:0px;
		display: inline-block;
		background-color: #59a5fb;
		position:relative;
		top:2px;
	}

.gene{
	background-color: #FFF;
	border:solid 3px rgb(56, 52,123);
}
.markers-chart{
	position: relative;
	top: 0px;
}
.markers-ctx-menu{
	position:absolute;
	padding:10px;
	background-color:#EFEFEF;
	.title{
		font-weight: bold;
	}
}