.tbl {
    width: 100%;
    td {
        padding-left: 10px;
    }
    th {
        background: #f1f1f1;
        font-weight: 300;
        text-align: left;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    tr:nth-child(even) {
        background: #f7f7f7;
    }
    tr:hover {
        background: $color-blue;
        color: #FFF;
    }
}

.panel-heading span {
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
}

.clickable {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.mdi {
    position: absolute !important;
    right: 30px;
    left: 30px;
    top: 5vh;
    bottom: 5vh;
    z-index: 9999;
    width: auto;
    overflow: scroll;
}

// Namespace
.markers-dl {
    font-size: 12px;
}

.markers-legend {
    font-size: 12px;
    list-style: none;
}

.markers-legend-key {
    font-weight: bold;
    display: block;
    text-transform: capitalize;
    padding-top: 3px;
}

.markers-command {
    cursor: pointer;
    display: block;
    padding: 0px !important;
    padding-left: 10px !important;
    -webkit-transition-property: padding;
    -webkit-transition-duration: .4s;
    transition-property: padding;
    transition-duration: .4s;
    height: 25px;
    line-height: 25px;
}

.markers-command:hover {
    padding-left: 5px;
    text-decoration: none;
}

.markers-button-slider {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: right;
    padding-right: 10px;
}

.markers-button-slider-circle {
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    border: solid #FFF 3px;
}

.markers-button-slider-rect {
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    background-color: #FFF;
}

.markers-button-slider:hover {
    opacity: 1;
}

.filter-button {
    border: solid 0px #CCC;
    border-left-width: 10px;
    border-radius: 0px;
    margin-top: 1px;
    width: 100%;
    text-align: left;
    font-weight: 300;
}

.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 2px;
    padding-top: 0px;
    display: inline-block;
    background-color: $color-blue;
    position: relative;
    top: 2px;
}

.markers-chart {
    position: relative;
    top: 0px;
}

.markers-ctx-menu {
    position: absolute;
    padding: 10px;
    background-color: #EFEFEF;
    .title {
        font-weight: bold;
    }
}

//@import '../../shared/mixins';
$switchTransition: .15s ease-out;
.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(black, .05);
    cursor: pointer;
    //@include linear-gradient(top, #eee, white 25px);
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(black, .12), inset 0 0 2px rgba(black, .15);
    //@include transition($switchTransition);
    //@include transition-property(opacity background);
    &:before,
    &:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        //@include transition(inherit);
    }
    &:before {
        content: attr(data-off);
        right: 11px;
        color: #aaa;
        text-shadow: 0 1px rgba(white, .5);
    }
    &:after {
        content: attr(data-on);
        left: 11px;
        color: white;
        text-shadow: 0 1px rgba(black, .2);
        opacity: 0;
    }
    .switch-input:checked~& {
        background: $color-blue;
        box-shadow: inset 0 1px 2px rgba(black, .15), inset 0 0 3px rgba(black, .2);
        &:before {
            opacity: 0;
        }
        &:after {
            opacity: 1;
        }
    }
}

.switch-toggle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(black, .2);
}

.switch-toggle-fill {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(black, .02);
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(black, .2);
    //@include linear-gradient(top, white 40%, #f0f0f0);
    //@include transition(left #{$switchTransition});
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: #f9f9f9;
        border-radius: 6px;
        box-shadow: inset 0 1px rgba(black, .02);
        //  @include linear-gradient(top, #eee, white);
    }
    .switch-input:checked~& {
        left: 40px;
        box-shadow: -1px 1px 5px rgba(black, .2);
    }
}

.switch-mutation>.switch-input:checked~.switch-label {
    background: #004358;
}

.switch-cnG1>.switch-input:checked~.switch-label {
    background: #1F8A70;
}

.switch-cnG2>.switch-input:checked~.switch-label {
    background: #BEDB39;
}

.switch-cnL1>.switch-input:checked~.switch-label {
    background: #800080;
}

.switch-cnL2>.switch-input:checked~.switch-label {
    background: #FD7400;
}