<os-tray content="tray-content-block" change="vm.resize()">
    <section class="tray-content">
        <div class="row">
            <br />

            <div class="col-xs-12 form-item">
                <label>Edge Visibility</label>
                <div ng-repeat="item in vm.optEdgeColors" class="legend-bar" style="border-color:{{item.color}};position:relative;background-color:#FFF;padding:2px 10px;line-height:25px;">{{item.name}} {{item.count}}
                    <label class="switch" style="float:right">
                        <input type="checkbox" class="switch-input" ng-model="item.show" ng-change="vm.edgeToggle(item)">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
            
            <div ng-if="vm.legendNodes.length>0" class="col-xs-12 form-item">
                <label>Patient {{vm.legendCaption}}</label>
                <div ng-repeat="item in vm.legendNodes" class="legend-bar legend-bar-button" style="border-color:{{item.color}};">{{item.name}}<span id="{{item.id}}" class="legend-count"></span>

                    <label style="float:right;padding-top:5px;" class="btn-group">
                        <button 
                        ng-click="vm.deselectColor(item)"
                        class="btn btn-xs btn-default" style="background-color:#47a8d8;color:#FFF;text-shadow: 0 1px rgba(0, 0, 0, 0.2);width:24px;margin-right:1px;"><i class="fa fa-circle-o"></i></button>
                        <button
                        ng-click="vm.selectColor(item)"
                        class="btn btn-xs btn-default" style="background-color:#47a8d8;color:#FFF;text-shadow: 0 1px rgba(0, 0, 0, 0.2);width:24px;margin-left:1px;"><i class="fa fa-dot-circle-o"></i></button>
                    </label>
                </div>
            </div>

            <div class="col-xs-12 form-item">
                <label>Patient Options</label>
                <div class="btn-group" role="group" style="display: block">
                    <button class="btn btn-default btn-no-focus" type="button" style="width:50%; font-weight: 300;" title="Zoom Reset"
                        ng-click="vm.showPanelLayout = true">Layouts</button>
                    <button class="btn btn-default btn-no-focus" type="button" style="width:50%; font-weight: 300;" title="Zoom Selection" 
                        ng-click="vm.showPanelColor = true">Colors</button>
                </div>
            </div>


            <div class="col-xs-6 form-item" style="padding-right:5px">
                <label>Command Mode</label>
                <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-right:30px;">
                        {{vm.optCommandMode.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.optCommandModes" ng-click="vm.optCommandMode=item">{{item.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 form-item" style="padding-left:5px">
                <label>Gene Set</label>
                <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-right:30px;">
                        {{vm.optGeneSet.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.optGeneSets" ng-click="vm.optGeneSet=item">{{item.name}}</li>
                    </ul>
                </div>
            </div>

             <div class="col-xs-12 form-item" ng-if="vm.optCommandMode.name=='Sequential'">
                <label>Commands</label>
                <br />
                <a ng-click="vm.cmd('ShowSelectedEdges')" class="markers-command hvr-sweep-to-right">Show Edges of Selected</a>
                <a ng-click="vm.cmd('HideSelectedEdges')" class="markers-command hvr-sweep-to-right">Hide Edges of Selected</a>
                <a ng-click="vm.cmd('HideUnselectedEdges')" class="markers-command hvr-sweep-to-right">Hide Edges of Unselected</a>
                <a ng-click="vm.cmd('HideAllEdges')" class="markers-command hvr-sweep-to-right">Hide All Edges</a>
                <a ng-click="vm.cmd('SelectInverse')" class="markers-command hvr-sweep-to-right">Invert Node Selection</a>
                <a ng-click="vm.cmd('SelectConnected')" class="markers-command hvr-sweep-to-right">Select Connected Nodes</a>
                <a ng-click="vm.cmd('HideUnselectedNodes')" class="markers-command hvr-sweep-to-right">Hide Unselected Nodes</a>
                <a ng-click="vm.cmd('ShowAllNodes')" class="markers-command hvr-sweep-to-right">Show All Nodes</a>
            </div>

            <div class="col-xs-12 form-item">
                <label>Lock Selections</label>
                <div class="btn-group" role="group" style="display: block">
                    <button class="btn btn-default btn-no-focus" type="button" ng-click="vm.lock('patient')" style="width:50%; font-weight: 300;" title="Patient Selection Lock">
                        <i class="fa fa-unlock" ng-show="!vm.lockPatients"></i>
                        <i class="fa fa-lock" ng-show="vm.lockPatients"></i> Patients
                    </button>
                    <button class="btn btn-default btn-no-focus" type="button" ng-click="vm.lock('gene')" style="width:50%; font-weight: 300;" title="Gene Selection Lock">
                        <i class="fa fa-unlock" ng-show="!vm.lockGenes"></i>
                        <i class="fa fa-lock" ng-show="vm.lockGenes"></i> Genes
                    </button>
                </div>
            </div>
    
            <div class="col-xs-12 form-item">
                <label>Zoom</label>
                <div class="btn-group" role="group" style="display: block">
                    <button class="btn btn-default btn-no-focus" type="button" ng-click="vm.zoom.reset()" style="width:50%; font-weight: 300;" title="Zoom Reset">
                        Reset
                    </button>
                    <button class="btn btn-default btn-no-focus" type="button" ng-click="vm.zoom.fit()" style="width:50%; font-weight: 300;" title="Zoom Selection">
                        Selected
                    </button>
                </div>
            </div>

            <div class="col-xs-12 form-item">
                <label>Search</label>
                <input type="text" class="form-control" ng-model="vm.search" placeholder="Genes or Patients">
            </div>
            
        </div>
    </section>
</os-tray>

<!-- Label + Chart -->
<section class="tray-content-block">
    <div id="markers-chart" class="markers-chart"></div>
    <div style="position:absolute;top:10px;text-align:center;width:100%;">
        <h2 class="h2-tool">Markers + Patients</h2>
        <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}}</span>
        <span class="h3-tool">(Layout: {{vm.optPatientLayout.name}})</span>
    </div>
</section>

<!-- Modal To Many Edges -->
<div id="modalEdge" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 style="margin-top:0px;">Your request would add {{vm.edgeCounts.total}} edges to the graph.</h2>
                <p>To improve performance + readability you may want to disable some of the edges.</p>
                <div class="input-group" ng-repeat="item in vm.optEdgeColors | filter:{show:true}">
                    <label class="switch {{item.class}}">
                        <input type="checkbox" class="switch-input" ng-model="item.show">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                    <span style="padding-left:20px;">{{item.name}} ({{vm.edgeCounts[item.abv]}})</span>
                </div>
            </div>
            <div style="position:absolute;right:10px;bottom:10px;">
                <button class="btn btn-default"  ng-click="vm.hideModal()">Cancel</button>
                <button class="btn btn-primary" ng-click="vm.filterModelEdge()">Continue</button>
            </div>
        </div>
    </div>
</div>

<os-color-panel ng-if="vm.showPanelColor" close="vm.showPanelColor=false"></os-color-panel>

<div class="panel panel-default mdi" ng-if="vm.showPanelLayout">
    <div class="panel-heading">
        <h3 class="panel-title">Patient Layout</h3>
        <span class="pull-right clickable" data-effect="fadeOut"
            ng-click="vm.showPanelLayout=false"><i class="fa fa-times"></i></span>
  </div>
  <div class="panel-body">
        
        <div class="row">
            <div class="col-sm-12"><h3>Select a layout</h3></div>
            <a class="col-sm-4 markers-command hvr-sweep-to-right" style="padding-left:15px; padding-right:15px;"
             ng-repeat="item in vm.optPatientLayouts" ng-click="vm.optPatientLayout=item;vm.showPanelLayout=false;">{{item.name}}</a>
        </div>
    
  </div>
</div>