<section class="userdatasource">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <br />
                <h1>My Datasets
               
                    <button type="button" class="btn btn-default" tooltip="Refresh" tooltip-placement="left" ng-click="vm.refreshDatasets()" style="border:none">
                        <span class="fa fa-refresh" aria-hidden="true" style="color:#039BE5"></span>
                    </button>
                </h1>
            </div>
            
        </div>
        
        <div class="well">
            <div ng-show="vm.user == null">
                <h3>Choose from import options below or <a ng-click="vm.login();" style="cursor:pointer">Login</a> to access your personal datasets.</h3>
            </div>
            <div ng-show="vm.user != null">
                <div ng-show="vm.projects.length ==0">Please upload a project from below</div>
                <div class="row">
                    <ul style="list-style:none">
                        <li ng-repeat="dataset in vm.projects" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="vm.explore('tools',dataset)">
                            <div class="datasource-btn">
                                <img class="datasource-img" ng-src="/assets/images/img{{dataset.img}}">
                                <p class="datasource-h1">{{dataset.name}}</p>
                                <p class="datasource-h2">{{dataset.description}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1>Import</h1>
        <div class="row">
            <ul style="list-style:none"><li ng-repeat="api in vm.apis" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-click="vm.showDatasourceOption(api.name)">
                <div class=datasource-btn>
                        <img class="datasource-img" ng-src="/assets/images/{{api.img}}">
                        <p class="datasource-h1">{{api.name}}</p>        
                </div>
            </li></ul>
        </div>
    </div>
</section>