<section class="userdatasource">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <br />
                <h1>My Datasets</h1>
            </div>
            
        </div>
        
        <div class="well">
            <h3>Choose from import options below or <a>Login to</a> access your personal datasets.</h3>
        </div>
        <h1>Import</h1>
        <div>
            <a class="btn btn-outline btn-xl" href="http://localhost:4200/" target="_blank">User File</a>
            <a class="btn btn-outline btn-xl" ng-click="vm.getDataSources()">TCGA</a>
        </div>
    </div>
</section>