<section class="plsr container container-filters">
	<h2>Partial Least Squares Regression &mdash; {{vm.datasource}}</h2>
    <div class="row">
        <div class="col-xs-3" style="padding-right:20px;">
            <label>Gene Set</label>
            <div class="dropdown bs-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.geneSet}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="item in vm.geneSets"
                    ng-click="vm.geneSet=item">{{item}}</li>
              </ul>
            </div>
        </div>
        <div class="col-xs-3" style="padding-right:20px;">
            <label>Age At Diagnosis</label>
            <div range-slider 
                min="vm.deathMinValue" model-min="vm.deathMinFilter" 
                max="vm.deathMaxValue" model-max="vm.deathMaxFilter"
                show-values="true" attach-handle-values="true"
                on-handle-up="vm.update()"></div>
        </div>
        <div class="col-xs-3" style="padding-right:20px;">
            <label>Survival</label>
            <div range-slider 
                min="vm.survivalMinValue" model-min="vm.survivalMinFilter" 
                max="vm.survivalMaxValue" model-max="vm.survivalMaxFilter" 
                show-values="true" attach-handle-values="true"
                on-handle-up="vm.update()"></div>
        </div>
    </div>
</section>
<section class="container-filter-toggle">
  <img src="/assets/images/arrow_down.png" ng-click="vm.toggleFilter()">
</section>
<section id="plsr-chart" class="plsr container-fluid container-content">
</section>


<div class="modal fade pathways" id="plsr-webpage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{vm.tip}}</h4>
      </div>
      
    <iframe class="modal-iframe" ng-src="{{vm.frame}}" />
    </div>
  </div>
</div>

<!-- Legand -->
<section class="markers container-legand">
  <ul class="legand ">
    <li style="padding:5px;font-weight:600;">Legend</li>

    <li style="border:0px solid #1396de; border-left-width:10px; padding-left:10px;margin-bottom:1px;">
        Age At Diagnosis
    </li>
    <li style="border:0px solid #38347b; border-left-width:10px; padding-left:10px;margin-bottom:1px;">
        Survival
    </li>
    <li><span class="circle" style="background-color:black;width:10px;height: 10px;margin-right:10px;"></span>Genes</li>
  </ul>
</section>