<section class="pca container container-filters">
  <h2>Partial Least Squares Regression ({{vm.datasource}})</h2>
    <div class="row">
        <div class="col-xs-4" style="padding-right:20px;margin: 10px 0 30px;">
            <label>Gene Set</label>
            <div class="dropdown bs-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.geneSet}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="item in vm.geneSets"
                    ng-click="vm.geneSet=item">{{item}}</li>
              </ul>
            </div>
        </div>
    </div>
</section>
<section class="container-filter-toggle">
  <img src="/assets/images/arrow_down.png" ng-click="vm.toggleFilter()">
</section>
<section id="chart" class="pca container-fluid container-content">
</section>

  <div class="legend">Proportion of Variance: PC1: {{vm.pc1}}%, PC2: {{vm.pc2}}%</div>