<div class="row">
  <div class="col-lg-3 col-xs-6" *ngFor="let modelStatus of boxModel">
    <small-box [model]="modelStatus"></small-box>
  </div>
</div>
<div class="row">
  <!-- APIS -->
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">APIS</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered" *ngIf="(apisModel && apisModel.length > 0)">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Upstream Url</th>
            </tr>
            <tr *ngFor="let modelApi of apisModel">
              <td>{{modelApi.name}}</td>
              <td>{{modelApi.upstream_url}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="(apisModel && apisModel.length === 0)" class="callout callout-info">
          <h4>Apis Empty!</h4>
          <p>Please start adding new APIS.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- CONSUMERS -->
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">CONSUMERS</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered" *ngIf="(consumersModel && consumersModel.length > 0)">
          <tbody>
            <tr>
              <th>Username</th>
              <th>Custom ID</th>
              <th>ID</th>
            </tr>
            <tr *ngFor="let modelConsumer of consumersModel">
              <td>{{modelConsumer.username}}</td>
              <td>{{modelConsumer.custom_id}}</td>
              <td>{{modelConsumer.id}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="(consumersModel && consumersModel.length === 0)" class="callout callout-info">
          <h4>Consumers Empty!</h4>
          <p>Please start adding new Consumers.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- GENERAL -->
  <div class="col-md-12" >
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">CONFIGURATION</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered" *ngIf="kongModel">
          <tbody>
            <tr>
              <th>Config Key</th>
              <th>Configuration Value</th>
            </tr>
            <tr>
              <td><b>Kong Version</b></td>
              <td>{{kongModel.version}}</td>
            </tr>
            <tr>
              <td><b>Memory Cache Size</b></td>
              <td>{{kongModel.configuration.memory_cache_size}}</td>
            </tr>
            <tr>
              <td><b>Admin API listen</b></td>
              <td>{{kongModel.configuration.admin_api_listen}}</td>
            </tr>
            <tr>
              <td><b>Cluster Listen</b></td>
              <td>{{kongModel.configuration.cluster_listen}}</td>
            </tr>
            <tr>
              <td><b>Proxy Listen/SSL</b></td>
              <td>{{kongModel.configuration.proxy_listen}} | {{kongModel.configuration.proxy_listen_ssl}}</td>
            </tr>
            <tr>
              <td><b>Kong Database</b></td>
              <td>{{kongModel.configuration.database}}</td>
            </tr>
            <tr>
              <td><b>Nginx Working Dir</b></td>
              <td>{{kongModel.configuration.nginx_working_dir}}</td>
            </tr>
            <tr>
              <td><b>Kong Working Dir</b></td>
              <td>{{kongModel.configuration.pid_file}}</td>
            </tr>
            <tr>
              <td><b>Available Plugins</b></td>
              <td>{{pluginsAvailable.join()}}</td>
            </tr>
            <tr>
              <td><b>Plugin Enable in Cluster</b></td>
              <td>{{kongModel.plugins.enabled_in_cluster.join()}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
