<script>
$("#gbmPathwaysMovieButton").click(function(){
    $(this).text("Stop");
});
</script>

<div id="gbmPathwaysDiv">
   <div id="gbmPathwaysStatusDiv" style="display:none"></div>
   <div id="gbmPathwaysButtonDiv" style="margin-bottom: 0px;bottom: 8px;">
      <!--
      <label id="gbmPathwaysSelectLabel" class="text-muted" for="select">Select a sample:</label>
      <select class="navbar-form selectpicker" id="gbmPathwaysSampleSelector"></select>
      -->
      <input type="text" id="gbmPathwaysSearchBox" value="search"></input>
      <!--
      <button id="gbmPathwaysMovieButton" style="width:100px"  type="button" class="btn btn-info navbar-btn  btn-xs"></button>
      <button id="gbmPathwaysSlowerMovieButton" type="button" class="btn btn-info navbar-btn btn-xs"> + </button>
      <span id="gbmPathwaysMovieSpeedReadout" class="navbar-btn btn-lg badge"></span> &nbsp;
      <button id="gbmPathwaysFasterMovieButton" type="button" class="btn btn-info navbar-btn btn-xs"> - </button>
      -->
      <button id="gbmViewAbstractsButton" type="button" class="btn btn-info navbar-btn btn-xs">Enable Abstracts</button>
      <button id="gbmZoomSelectedButton" type="button" class="btn btn-info navbar-btn btn-xs">Zoom Selected</button>
      <select class="SelectionMenu" type="button" id="gbmPathwaysSendSelectionMenu" style="float:right; margin-right:15px"></select>
    </div>

   <div id="cyGbmPathwaysDiv" class="content" style="margin:0 auto" ></div>

</div>



