<section class="plsr container">
	<h2>Partial Least Squares Regression ({{vm.datasource}})</h2>
    <div class="row">
        <div class="col-xs-4" style="padding-right:20px;">
            <label>Gene Set</label>
            <div class="dropdown bs-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.geneSet}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="item in vm.geneSets"
                    ng-click="vm.geneSet=item">{{item}}</li>
              </ul>
            </div>
        </div>
        <div class="col-xs-4" style="padding-right:20px;">
            <label>Age At Death</label>
            <div range-slider 
                min="vm.deathMinValue" model-min="vm.deathMinFilter" 
                max="vm.deathMaxValue" model-max="vm.deathMaxFilter"
                show-values="true" attach-handle-values="true"
                on-handle-up="vm.update()"></div>
        </div>
        <div class="col-xs-4" style="padding-right:20px;">
            <label>Survival</label>
            <div range-slider 
                min="vm.survivalMinValue" model-min="vm.survivalMinFilter" 
                max="vm.survivalMaxValue" model-max="vm.survivalMaxFilter" 
                show-values="true" attach-handle-values="true"
                on-handle-up="vm.update()"></div>
        </div>
    </div>

	<div id="chart" style="width:100%;height:500px;"></div>

</section>