// Namespace
.plsr{

}
.bs-dropdown{
	width: 100%;
	button{
		width: 100%;
		text-align: left;
		height: 28px;
		line-height: 14px;
		.caret{
			float:right;
			margin-top:5px;
		}
	}
	ul{
		li{
			padding:5px;
		}
	}
}
