<div class="landing container">
	<div class="marque" style="z-index:-1"></div>
	<div class="row main-headline">
		<h1>Oncoscape</h1>
	</div>	
	<div class="row" style="padding-top:20px;">
		<div class="col-sm-8">
			<h2>Bridging Cancer Research and Clinical Care</h2>
			<p class="">
			Oncoscape is developed at the Fred Hutchinson Cancer Research Center under the auspices of the Solid Tumor Translational Research initiative. Oncoscape is a web-based, menu-driven analysis and visualization platform for large-scale, heterogeneous clinical and molecular patient timeline data as exemplified by the Fred Hutch HIDRA database. Oncoscape was conceived, and is managed, by a Steering Committee comprising: Eric Holland, Desert Horse-Grant, Paul Fearn, Paul Shannon, Lisa McFerrin, and Hamid Bolouri.
			</p>
			<p class="">Through its easy point-and-click browser interface, Oncoscape will become an essential tool for doctors and researchers interested in:</p>
			<ul class="">
				<li>Comparing patients or populations across an array of features, like genetic alterations (CNV, IHC, sequencing, expression) or clinical elements (treatment regimens, diagnostics, outcomes)</li>
				<li>Defining cohorts based on selected traits – identifying “patients like me”</li>
				<li>Aligning patient histories according to timeline events: diagnosis, treatment, progression, survival</li>
				<li>Performing powerful and integrated statistical analysis: Principle Component Analysis, Partial least squares regression, Kaplan-Meier curves, enrichment scores</li>
				<li>Creating high quality visualizations of molecular/clinical data</li>
			</ul>
			<p class="">By providing a portal equipped with rich data, powerful statistics and a simple interface, Oncoscape not only empowers users to quickly answer questions themselves but also expedites the process of discovering novel patterns and relationships. This can lead to numerous possible findings, including optimized drug therapies for individual patients, identification of novel regulatory pathways, or even the need to reassess adherence strategies.</p>
		</div>
		<div class="col-sm-4" style="padding-top:50px;">
			<div>
			<os-login></os-login>
			</div>
		</div>
	</div>
</div>	