<os-tray content="tray-content-block">
    <section class="tray-content">
            <div class="row">
                <div class="col-xs-12 form-label">
                    <h2>Legend</h2>
                    <span class="legend-bar" style="border-color: green">Activation</span>
                    <span class="legend-bar" style="border-color: red">Inhibition</span>
                    <span class="legend-bar" style="border-color: #38347B">Modification</span>
                    <span class="legend-bar" style="border-color: #056ce1">Genes</span>
                </div>
            </div>
    </section>
</os-tray>
<section class="tray-content-block">
  <div class="container-fluid">
  <div id = 'oncoprintDiv' class="oncoprint">
    <div id="oncoprintInstructions" style="display: block">Please select and send up to 350 genes and patients from another tab, such as Markers &amp Patients, to populate the display.</div>
    <div id="oncoprintControlsDiv">  
    <!--    <select type="button" id="oncoprintSendSelectionsMenu" style="float:right; margin:15px"></select>  -->
    <div id='onc'></div>
    <button id='toggle_whitespace' >Toggle Whitespace</button>
    <button id='reduce_cell_width'>Reduce Cell Width</button>
    </div>
  </div>

</section>
</div>
