<os-tray content="tray-content-block">
     <section class="tray-content">
        <div class="row">
          <div class="col-xs-12 form-label">
                <h2>Cohorts</h2>
            </div>
            <div class="col-sm-12 form-item">
                  <label>Patient Cohorts</label>
                  <div class="dropdown bs-dropdown">
                  
                    <button class="btn btn-default dropdown-toggle" type="button"
                    style="width: 34px;display: inline-block; margin-right:0px; float:right"
                    ng-click="vm.addCohortPatient()">+
                    </button>
                    
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    style="width: 220px;display: inline-block; margin-right:0px;">
                        {{vm.optCohortPatient.name}}
                        <span class="caret"></span>
                    </button>
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.optCohortPatients" 
                          ng-click="vm.optCohortPatient=item">{{item.name}}</li>
                    </ul>
                  </div>

                </div>
                <div class="col-sm-12 form-item">
                  <label>Gene Cohorts</label>
                  <div class="dropdown bs-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"
                    style="width: 34px;display: inline-block; margin-right:0px; float:right"
                    ng-click="vm.addCohortGene()">+
                    </button>

                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    style="width: 220px;display: inline-block; margin-right:0px;">
                        {{vm.optCohortGene.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
                        <li ng-repeat="item in vm.optCohortGenes" 
                          ng-click="vm.optCohortGene=item">{{item.name}}</li>
                    </ul>
                  </div>
                </div>
            <div class="col-xs-12 form-label">
                <h2>Legend</h2>
                <span class="legend"><span class="legend-dot" style="background-color:#000"></span>Genes</span>
            </div>
        </div>
        </div>
    </section>
</os-tray>
<section class="tray-content-block">
  <div class="container-fluid">
  <div id = 'oncoprintDiv' class="oncoprint">
    <div id="oncoprintInstructions" style="display: hidden">Please select and send up to 350 genes and patients from another tab, such as Markers &amp Patients, to populate the display.</div>
    <div id="oncoprintControlsDiv">  
      <!--    <select type="button" id="oncoprintSendSelectionsMenu" style="float:right; margin:15px"></select>  -->
      <div id='onc'></div>
      <button id='toggle_whitespace' >Toggle Whitespace</button>
      <button id='reduce_cell_width'>Reduce Cell Width</button>
    </div>
  </div>

</section>
</div>
