.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  fill: none;
  stroke: #000;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.path {
  opacity: 0.7 ;
}

.path:hover {
  opacity: 1 ;
}

.eventNoHover {
	visibility: hidden;
}
.eventHover {
	visibility: visible !important;
}
.tooltipNoHover{
	visibility: hidden;
}
.tooltipHover{
	visibility: visible !important;
}