

.domain { 
  fill: none; 
  } 

.extent {
  fill-opacity: .1;
  stroke: #f00;
}


.axis path, .axis line {
    stroke: black;
    stroke-width: 1px;
    }

#plsrControlsDiv {
   border: 1px solid #aaa;
   font-family: sans-serif;
   font-size: 12px;
   margin-top: 2px;
   margin-left: 5px;
   margin-right: 10px;
   margin-bottom: 5px;
   height: 80px;
   background-color: #E8E8E8;
   }

#plsrPlotDiv {
   border-style: solid;
   border-width: 1px;
   width: 800px;
   height: 500px;
   margin: 5px;
   }

.plsrSlider { 
   margin-left:0px; 
   margin-right:0px; 
   margin-top:0px;
   border: 3px solid #FFF;
   background-color: #FFF;
   height: 20px;
   max: 0;  min: 10; 
   orientation: 'horizontal';

   }

.plsrSliderReadout {
  font-family:"Courier";
  color: #00F;
  background-color: #FFF;
  font-size: 12px;
  border: 2px solid #DDD;
  width: 40px;
  height: 18px;
  resize: none;
  margin-top: 5px;
  margin-left: 1px;
  }

.plsrSliderTitleDiv {
  font-family:"Arial";
  color: #000000;
  font-size: 14px;
  padding-top: 0px;
  }


#plsrButtonDiv {
   padding-botton: 30px;
   }
#plsrAgeAtDxSlider .ui-widget-header { border: 1px solid #fff; background: #fff; }
#plsrAgeAtDxSlider {  background: #E8E8E8; }
#plsrSurvivalSlider .ui-widget-header { border: 1px solid #fff; background: #fff; }
#plsrSurvivalSlider {  background: #E8E8E8; }

#plsrAgeAtDxSlider {
background:#ABD3E8;
}
#plsrSurvivalSlider {
background:#ABD3E8;
}