exportClasses(SttrDataPackageClass)

exportMethods (
  show,
  matrices,
  data.frames,
  history,
  manifest,
  entities, 
  getEventList,
  getEventTypeList,
  getPatientList,
  getPatientTable,
  getGeneSetNames,
  getGeneSetGenes,
  getExpressionDataSetNames,
  getExpressionDataSetExpression,
  networks,
  canonicalizePatientIDs,
  getSampleCategorizationNames,
  getSampleCategorization
  )

export(
   SttrDataPackage
   )

import(PatientHistory)
importClassesFrom(methods, character, integer)
importFrom(methods, new)

