
<os-tray content="tray-content-block" change="vm.resize($event)">
        <section class="tray-content">
            <div class="row">
                <div class="col-xs-12 form-item">
                    <label>Data Type</label>
                    <div class="dropdown bs-dropdown" style="max-width:230px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{vm.data.method.selected.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                            <li class="markers-command hvr-sweep-to-right" ng-repeat="item in vm.data.method.types" ng-click="vm.data.method.selected.name=item; vm.callMethod()">{{item}}</li>
                        </ul>
                    </div>

                    <label>Data Table</label>
                    <div class="dropdown bs-dropdown" style="max-width:230px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{vm.data.table.selected.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                            <li class="markers-command hvr-sweep-to-right" ng-repeat="item in vm.data.table.types" ng-click="vm.data.table.selected.name=item.name; vm.callMethod()">{{item.name}}</li>
                        </ul>
                    </div>
             
                </div>
    
                <div class="col-xs-12 form-item">
                    <label>Color Scheme</label>
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{vm.options.color.selected.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="item in vm.options.color.schemes" ng-click="vm.options.color.selected.name=item.name;">{{item.name}}</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-xs-12 form-item">
                    <div class="col-xs-12 form-item">
                        <label>Order</label>
                        <div class="dropdown bs-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{vm.options.order.selected.name}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="item in vm.options.order.types" ng-click="vm.options.order.selected.name=item.name; vm.callOrder()">{{item.name}}</li>
                            </ul>
                        </div>
                    </div>
                        
                </div>
        </section>
    </os-tray>
    
    <section class="tray-content-block">
        <div style="position:absolute;top:10px;text-align:center;width:100%;">
            <h2 class="h2-tool">Heatmap</h2>
            <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}}</span>
            <div id="heatmap-chart" style="position:relative;"></div>
            <div id="tooltip" class="hidden">
                <p><span id="value"></p>
            </div>
        </div>
    </section>
    