// Namespace

.denolink {
    stroke-width: 2px;
    stroke: #039BE5;
    fill-opacity: 0;
}

.brush {
    shape-rendering: crispEdges;
    display:none
}

#tooltip {
    background-color: rgba(187, 187, 187, 0.7);
    border-radius: 5px;
    height: 18px;
    pointer-events: none;
    position: absolute;
    text-align: center;
  }