<section class="datasource">
	<div class="container">
		<div class="row">
			<h2>Tools</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
		</div>
		<div class="row">
			<ul>
				<li ng-repeat="tool in vm.tools">
					<img src="/assets/images/datasets/tool.png">
					<h2>{{tool.name}}</h2>
					<p>Lorem ipsum dolor sit amet, cras eu mollis vivamus, ad sollicitudin rhoncus dui proin. Dolor elit ut condimentum luctus ipsam, suspendisse auctor, bibendum cubilia tellus ultrices pellentesque dictumst, egestas lectus in mattis mi class ac. Etiam odio leo vestibulum id, dui pede faucibus cras orci sit primis, massa lacus consectetuer urna pulvinar fusce. </p>
					<a ng-click="vm.explore(tool.route, 'DEMOdz')">Demodz</a>
					&nbsp;|&nbsp;
					<a ng-click="vm.explore(tool.route, 'TCGAbrain')">TCGAbrain</a>
					&nbsp;|&nbsp;
					<a ng-click="vm.explore(tool.route, 'TCGAgbm')">TCGAgbm</a>
					&nbsp;|&nbsp;
					<a ng-click="vm.explore(tool.route, 'TCGAlgg')">TCGAlgg</a>
				</li>
			</ul>
		</div>
	</div>
</section>