// Namespace
.tools{
  ul{
  	list-style: none;
  }
  li{
  	//height: 150px;
    padding-right:50px;
  }
  img{
  	width: 150px;
  	height: auto;
  	float:left;
  	margin-right:50px;
  }
  h2{
  	padding-top: 15px;
    margin-bottom: 0px;

  }
}
