// Namespace
.gbm{
	.modal-header{
		padding: 5px 15px;

	}
  	.modal-iframe{
	  	width: 100%;
	    height: 80vh;
	    margin: 0px;
	    padding: 0px;
	    border: 0px;
  	}
  	.modal-dialog{
  		width: 90%;
  	}
}
