exportClasses(PLSR)

export(
  PLSR,
  printf
  )

exportMethods(
  show,
  plsrDataSummary,
  getDataPackage,
  getDataMatrixName,
  setDataMatrixName,
  summarizeNumericPatientAttributes,
  createClassificationMatrix,
  calculatePLSR
  )
