<os-tray content="tray-content-block">
    <section class="tray-content">
        <div class="row">
            <div class="col-xs-12 form-item">
                <h3>PCA</h3>
                <button ng-click="vm.click()">Generate Random 500 Genes</button>
            </div>
            <div class="col-xs-12 form-item">
                <h3>Controls</h3>
                <button ng-click="vm.toggle()">Toggle</button>
            </div>
            <div class="col-xs-12 form-item">
                <label>Layout</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" style="max-width: 220px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.sample.layout.name}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="item in vm.layouts" ng-click="vm.sample.layout = item">{{item.name}}</li>
                        </ul>
                    </div>
                    <div class="input-group-addon btn-help-icon"><a href="http://resources.sttrcancer.org/api/#gene-sets" target="_blank"><i style="color:#000" class="glyphicon glyphicon-question-sign"></i></a></div>
                </div>
            </div>
            <div class="col-xs-12 form-item">
                <label>Color</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" style="max-width: 220px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.samples.layout.name}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                        </ul>
                    </div>
                    <div class="input-group-addon btn-help-icon"><a href="http://resources.sttrcancer.org/api/#gene-sets" target="_blank"><i style="color:#000" class="glyphicon glyphicon-question-sign"></i></a></div>
                </div>
            </div>
            <div class="col-xs-12 form-item">
                <label>Size</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" style="max-width: 220px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.samples.layout.name}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                        </ul>
                    </div>
                    <div class="input-group-addon btn-help-icon"><a href="http://resources.sttrcancer.org/api/#gene-sets" target="_blank"><i style="color:#000" class="glyphicon glyphicon-question-sign"></i></a></div>
                </div>
            </div>
            <!-- GENES -->
            <div class="col-xs-12 form-item">
                <h3>Genes</h3>
            </div>
            <div class="col-xs-12 form-item">
                <label>Layout</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" style="max-width: 220px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.gene.layout.name}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="item in vm.layouts" ng-click="vm.gene.layout = item">{{item.name}}</li>
                        </ul>
                    </div>
                    <div class="input-group-addon btn-help-icon"><a href="http://resources.sttrcancer.org/api/#gene-sets" target="_blank"><i style="color:#000" class="glyphicon glyphicon-question-sign"></i></a></div>
                </div>
            </div>
            <div class="col-xs-12 form-item">
                <label>Color</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" style="max-width: 220px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.samples.layout.name}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                        </ul>
                    </div>
                    <div class="input-group-addon btn-help-icon"><a href="http://resources.sttrcancer.org/api/#gene-sets" target="_blank"><i style="color:#000" class="glyphicon glyphicon-question-sign"></i></a></div>
                </div>
            </div>
            <div class="col-xs-12 form-item">
                <label>Size</label>
                <div class="input-group">
                    <div class="dropdown bs-dropdown">
                        <button class="btn btn-default dropdown-toggle" style="max-width: 220px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{vm.samples.layout.name}}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                        </ul>
                    </div>
                    <div class="input-group-addon btn-help-icon"><a href="http://resources.sttrcancer.org/api/#gene-sets" target="_blank"><i style="color:#000" class="glyphicon glyphicon-question-sign"></i></a></div>
                </div>
            </div>
            <!-- EDGES -->
            <div class="col-xs-12 form-item">
                <h3>Edges</h3>
            </div>
        </div>
    </section>
</os-tray>
<!-- Label + Chart -->
<section class="tray-content-block">
    <div class="tool-container" id="tool-container">
        <!--<h2 class="h2-tool">Markers + Samples</h2>
        <span class="h3-tool">{{vm.datasource.source}} {{vm.datasource.name}}</span>-->
        <!--<canvas id="renderCanvas" style="width:100%;height:100%;touch-action:none;"></canvas>-->
    </div>
</section>
<os-color-panel ng-if="vm.showPanelColor" close="vm.showPanelColor=false"></os-color-panel>