<section class="markers container container-filters">
	<h2>Markers + Patients ({{vm.datasource}})</h2>

	<div class="row">
        <div class="col-xs-3" style="padding-right:20px;">
            <label>Interactive Mode</label>
            <div class="dropdown bs-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.iMode.name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="item in vm.iModes"
                    ng-click="vm.iMode=item">{{item.name}}</li>
              </ul>
            </div>
        </div>
        <div class="col-xs-3" style="padding-right:20px;">
            <label>Layout Options</label>
            <div class="dropdown bs-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.patientLayout.name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li style="padding:5px;font-weight:600;">Patient Distribution</li>
                <li ng-repeat="item in vm.patientLayouts"
                    ng-click="vm.layoutPatientClick(item);">{{item.name}}</li>
              </ul>
            </div>
        </div>
        <div class="col-xs-3" style="padding-right:20px;">
            <label>Color Options</label>
            <div class="dropdown bs-dropdown">

              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               Nodes + Edges
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu filter-list" aria-labelledby="dropdownMenu1"
                style="width:100%">
                <li style="padding:5px;font-weight:600;">Node Colors</li>
                  <li>
                  <button class="btn btn-default filter-button"
                  ng-click="event.stopPropagation();">
                        None
                  </button>
                </li>
                 <li>
                  <button class="btn btn-default filter-button" style="border-color:#FFF"
                  ng-click="event.stopPropagation();">
                        TBL.glioma8
                  </button>
                </li>
                <li>
                  <button class="btn btn-default filter-button" style="border-color:#FFF"
                  ng-click="event.stopPropagation();">
                        TBL.verhaakPlus1
                  </button>
                </li>
                <li>
                <hr>
                </li>
      
                <li style="padding:5px;font-weight:600;">Edge Colors</li>
                <li ng-repeat="item in vm.filters">
                  <button class="btn btn-default filter-button" id="{{item.id}}" 
                  ng-click="vm.filterClick(item); $event.stopPropagation();">
                        {{item.name}} ({{item.state}})
                  </button>
                </li>
              </ul>
            </div>
        </div>
        <div class="col-xs-3" style="padding-right:20px;">
            <label>Search</label>
            <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search for..."ng-model="vm.search"
		      	style="height: 28px;margin-top: 0px !important;">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"
		        style="height: 28px;margin-top: 0px !important;">Go</button>
		      </span>
    		</div>
      </div>
  </div>
</section>
<section class="container-filter-toggle">
  <img src="/assets/images/arrow_down.png" ng-click="vm.toggleFilter()">
</section>
<section id="markers-chart" class="markers container-fluid container-content">
</section>

<div style="background:rgba(255,255,255,.7);color:#000; position: absolute; right: 20px; top:200px;width: 200px;" ng-if="vm.patient">
<dl>
<dt>Patient<dt><dd>{{vm.patient[0]}}</dd>
<dt>Study</dt><dd>{{vm.patient[1]}}</dd>
<dt>Gender</dt><dd>{{vm.patient[2]}}</dd>
<dt>Survival</dt><dd>{{vm.patient[3]}}</dd>
<dt>Age At Death</dt><dd>{{vm.patient[4]}}</dd>
<dt>1st Progression</dt><dd>{{vm.patient[5]}}</dd>
<dt>Status</dt><dd>{{vm.patient[6]}}</dd>
</dl>
</div>