// Namespace
.datasource {
    /*background: linear-gradient(120deg, #FFF, #DDD);*/
    background: #FAFAFA;
    min-height: 100vh;
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    li {
        padding: 10px;
    }
}

.datasource-h1 {
    margin: 0px;
    padding: 0px;
    //padding-bottom: 5px;
    padding-top: 15px;
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    overflow: hidden;
    padding-right: 10px;
}

.datasource-h2 {
    padding-top: 2px;
    font-size: 12px;
    font-weight: 300;
}

.datasource-btn {
    width: 100%;
    height: 80px;
    background: #FFF;
    /*box-shadow: rgb(187, 187, 187) 2px 2px 2px;
    background: #FAFAFA;*/
    box-shadow: 0 2px 7px #bbb;
    border: solid 1px#DDD;
    overflow: hidden;
}

.datasource-img {
    width: 80px;
    height: auto;
    float: left;
    //box-shadow: 3px 3px 10px #888888;
    //border-radius: 50%;
    margin-right: 20px;
    background: #000;
}

.btn {
    font-weight: 300;
}

@media (min-width: 992px) {
    .datasource-img {
        width: 80px;
    }
}