<section class="datasource container-fluid">
    <div class="row">
        <div class="col-sm-12 col-sm-9">
            <br />
            <h1>Step 1: Select A Data Source</h1>
            <p>Below are a list of data sources availible for exploritory analysis.  To change a data source click the data sources item navigation in the top right. Oncoscape supports public and private datasets.  If you do not see the dataset you are interested in please contact us at <a href="mailto:oncoscape@fredhuth.org">oncoscape@fredHutch.org</a></p>
        </div>
    </div>
    <div class="row">
        <ul>
            <li ng-repeat="dataset in vm.datasets" class="col-xs-12 col-sm-6 col-lg-4" ng-click="vm.explore('tools',dataset)">
                <img class="datasource-img" ng-src="/assets/images/{{dataset.img}}">
                <h3 class="datasource-lbl">{{dataset.name}} ({{dataset.source}})</h3>
                <nobr>
                    <a href="">Explore</a>
                </nobr>
            </li>
        </ul>
    </div>
</section>
